/*==========================================*/
/*=== BLOCK GRIDS ===*/
/*==========================================
	These are 2_up, 3-up, 4-up and 5-up ULs, suited
	for repeating blocks of content. Add 'mobile' to
	them to switch them just like the layout grid
	(one item per line) on phones
	======================================= */
.block_grid {
  display: block;
  overflow: hidden;
}
.block_grid > li {
  display: block;
  height: auto;
  float: left;
}
.block_grid.two_up {
  margin-left: -4%;
}
.block_grid.two_up > li {
  margin-left: 4%;
  width: 46%;
}
/* 	.block_grid.two_up>li:nth-child(2n+1) {clear: left;} */
.block_grid.three_up {
  margin-left: -2%;
}
.block_grid.three_up > li {
  margin-left: 2%;
  width: 31.3%;
}
/* 	.block_grid.three_up>li:nth-child(3n+1) {clear: left;} */
.block_grid.four_up {
  margin-left: -2%;
}
.block_grid.four_up > li {
  margin-left: 2%;
  width: 23%;
}
/* 	.block_grid.four_up>li:nth-child(4n+1) {clear: left;} */
.block_grid.five_up {
  margin-left: -1.5%;
}
.block_grid.five_up > li {
  margin-left: 1.5%;
  width: 18.5%;
}
/* 	.block_grid.five_up>li:nth-child(5n+1) {clear: left;} */