* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(polyfills/boxsizing.htc); }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* ============ */
/* === BASE === */
/* ============ */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none; }

dl, menu, ol.normal, ul.normal {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol.normal, ul.normal {
  padding: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  padding-left: 32px;
  padding-right: 32px;
  width: 95%;
  max-width: 1500px;
  margin: 0 auto; }

.row {
  width: 100%;
  margin: 0 auto;
  *zoom: 1; }
  .row:before, .row:after {
    display: table;
    content: " ";
    zoom: 1; }
  .row:after {
    clear: both; }
  .row .row {
    min-width: 0; }

@media screen and (min-width: 768px) {
  .col {
    margin-left: 4.4%;
    float: left;
    min-height: 1px;
    position: relative;
    clear: none; }
    .col:first-child {
      margin-left: 0; }

  [class*="col"] + [class*="col"]:last-child, .mq-alpha-end {
    float: right; }

  [class*="col"] + [class*="col"].end {
    float: left; }

  .span1, .mq-alpha-resize-to1 {
    width: 4.3%; }

  .span2, .mq-alpha-resize-to2 {
    width: 13%; }

  .span3, .mq-alpha-resize-to3 {
    width: 21.7%; }

  .span4, .mq-alpha-resize-to4 {
    width: 30.4%; }

  .span5, .mq-alpha-resize-to5 {
    width: 39.1%; }

  .span6, .mq-alpha-resize-to6 {
    width: 47.8%; }

  .span7, .mq-alpha-resize-to7 {
    width: 56.5%; }

  .span8, .mq-alpha-resize-to8 {
    width: 65.2%; }

  .span9, .mq-alpha-resize-to9 {
    width: 73.9%; }

  .span10, .mq-alpha-resize-to10 {
    width: 82.6%; }

  .span11, .mq-alpha-resize-to11 {
    width: 91.3%; }

  .span12, .mq-alpha-resize-to12 {
    width: 100%; }

  .row > .offset1 {
    margin-left: 13.1%; }
    .row > .offset1:first-child {
      margin-left: 8.7%; }
  .row > .offset2 {
    margin-left: 21.8%; }
    .row > .offset2:first-child {
      margin-left: 17.4%; }
  .row > .offset3 {
    margin-left: 30.5%; }
    .row > .offset3:first-child {
      margin-left: 26.1%; }
  .row > .offset4 {
    margin-left: 39.2%; }
    .row > .offset4:first-child {
      margin-left: 34.8%; }
  .row > .offset5 {
    margin-left: 47.9%; }
    .row > .offset5:first-child {
      margin-left: 43.5%; }
  .row > .offset6 {
    margin-left: 56.6%; }
    .row > .offset6:first-child {
      margin-left: 52.2%; }
  .row > .offset7 {
    margin-left: 65.3%; }
    .row > .offset7:first-child {
      margin-left: 60.9%; }
  .row > .offset8 {
    margin-left: 74%; }
    .row > .offset8:first-child {
      margin-left: 69.6%; }
  .row > .offset9 {
    margin-left: 82.7%; }
    .row > .offset9:first-child {
      margin-left: 78.3%; }
  .row > .offset10 {
    margin-left: 91.4%; }
    .row > .offset10:first-child {
      margin-left: 87%; }
  .row > .offset11 {
    margin-left: 100.1%; }
    .row > .offset11:first-child {
      margin-left: 95.7%; }
  .row > .offset12 {
    margin-left: 108.8%; }
    .row > .offset12:first-child {
      margin-left: 104.4%; }
  .row > .push2 {
    left: 17.4%; }
  .row > .push3 {
    left: 26.1%; }
  .row > .push4 {
    left: 34.8%; }
  .row > .push5 {
    left: 43.5%; }
  .row > .push6 {
    left: 52.2%; }
  .row > .push7 {
    left: 60.9%; }
  .row > .push8 {
    left: 69.6%; }
  .row > .push9 {
    left: 78.3%; }
  .row > .push10 {
    left: 87%; }
  .row > .pull2 {
    right: 17.4%; }
  .row > .pull3 {
    right: 26.1%; }
  .row > .pull4 {
    right: 34.8%; }
  .row > .pull5 {
    right: 43.5%; }
  .row > .pull6 {
    right: 52.2%; }
  .row > .pull7 {
    right: 60.9%; }
  .row > .pull8 {
    right: 69.6%; }
  .row > .pull9 {
    right: 78.3%; }
  .row > .pull10 {
    right: 87%; }

  .split .col, .shunt {
    float: none;
    margin-left: 0;
    min-height: 1px;
    position: relative;
    width: 100%;
    clear: both; } }
@media screen and (min-width: 992px) {
  .split .col, .shunt {
    margin-left: 4.4%;
    float: left;
    min-height: 1px;
    position: relative;
    clear: none; }
    .split .col:first-child, .shunt:first-child {
      margin-left: 0; }

  .span1, .mq-beta-resize-to1, .split .span1 {
    width: 4.3%; }

  .span2, .mq-beta-resize-to2, .split .span2 {
    width: 13%; }

  .span3, .mq-beta-resize-to3, .split .span3 {
    width: 21.7%; }

  .span4, .mq-beta-resize-to4, .split .span4 {
    width: 30.4%; }

  .span5, .mq-beta-resize-to5, .split .span5 {
    width: 39.1%; }

  .span6, .mq-beta-resize-to6, .split .span6 {
    width: 47.8%; }

  .span7, .mq-beta-resize-to7, .split .span7 {
    width: 56.5%; }

  .span8, .mq-beta-resize-to8, .split .span8 {
    width: 65.2%; }

  .span9, .mq-beta-resize-to9, .split .span9 {
    width: 73.9%; }

  .span10, .mq-beta-resize-to10, .split .span10 {
    width: 82.6%; }

  .span11, .mq-beta-resize-to11, .split .span11 {
    width: 91.3%; }

  .span12, .mq-beta-resize-to12, .split .span12 {
    width: 100%; }

  .row > .offset1 {
    margin-left: 13.1%; }
    .row > .offset1:first-child {
      margin-left: 8.7%; }
  .row > .offset2 {
    margin-left: 21.8%; }
    .row > .offset2:first-child {
      margin-left: 17.4%; }
  .row > .offset3 {
    margin-left: 30.5%; }
    .row > .offset3:first-child {
      margin-left: 26.1%; }
  .row > .offset4 {
    margin-left: 39.2%; }
    .row > .offset4:first-child {
      margin-left: 34.8%; }
  .row > .offset5 {
    margin-left: 47.9%; }
    .row > .offset5:first-child {
      margin-left: 43.5%; }
  .row > .offset6 {
    margin-left: 56.6%; }
    .row > .offset6:first-child {
      margin-left: 52.2%; }
  .row > .offset7 {
    margin-left: 65.3%; }
    .row > .offset7:first-child {
      margin-left: 60.9%; }
  .row > .offset8 {
    margin-left: 74%; }
    .row > .offset8:first-child {
      margin-left: 69.6%; }
  .row > .offset9 {
    margin-left: 82.7%; }
    .row > .offset9:first-child {
      margin-left: 78.3%; }
  .row > .offset10 {
    margin-left: 91.4%; }
    .row > .offset10:first-child {
      margin-left: 87%; }
  .row > .offset11 {
    margin-left: 100.1%; }
    .row > .offset11:first-child {
      margin-left: 95.7%; }
  .row > .offset12 {
    margin-left: 108.8%; }
    .row > .offset12:first-child {
      margin-left: 104.4%; }
  .row > .mq-beta-push2, .row .push2 {
    left: 17.4%; }
  .row > .mq-beta-push3, .row .push3 {
    left: 26.1%; }
  .row > .mq-beta-push4, .row .push4 {
    left: 34.8%; }
  .row > .mq-beta-push5, .row .push5 {
    left: 43.5%; }
  .row > .mq-beta-push6, .row .push6 {
    left: 52.2%; }
  .row > .mq-beta-push7, .row .push7 {
    left: 60.9%; }
  .row > .mq-beta-push8, .row .push8 {
    left: 69.6%; }
  .row > .mq-beta-push9, .row .push9 {
    left: 78.3%; }
  .row > .mq-beta-push10, .row .push10 {
    left: 87%; }
  .row > .mq-beta-pull2, .row .pull2 {
    right: 17.4%; }
  .row > .mq-beta-pull3, .row .pull3 {
    right: 26.1%; }
  .row > .mq-beta-pull4, .row .pull4 {
    right: 34.8%; }
  .row > .mq-beta-pull5, .row .pull5 {
    right: 43.5%; }
  .row > .mq-beta-pull6, .row .pull6 {
    right: 52.2%; }
  .row > .mq-beta-pull7, .row .pull7 {
    right: 60.9%; }
  .row > .mq-beta-pull8, .row .pull8 {
    right: 69.6%; }
  .row > .mq-beta-pull9, .row .pull9 {
    right: 78.3%; }
  .row > .mq-beta-pull10, .row .pull10 {
    right: 87%; }

  .mq-beta-end {
    float: right; }

  .mq-alpha-end {
    float: left; } }
.centered.col, .centred.col {
  float: none;
  margin: 0 auto; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: gray;
  background-color: white; }

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 24; }
  p small {
    font-size: 14;
    color: #bfbfbf; }

.lead {
  margin-bottom: 24;
  font-size: 20px;
  font-weight: 200;
  line-height: 36; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: #404040;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #bfbfbf; }

h1 {
  font-size: 68px;
  font-size: 4.25rem;
  line-height: 72px;
  line-height: 4.5rem;
  margin-top: 24px;
  margin-bottom: 48px; }
  h1 small {
    font-size: 18px;
    font-size: 1.125rem; }

h2 {
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 48px;
  line-height: 3rem;
  margin-top: 48px;
  margin-bottom: 24px; }
  h2 small {
    font-size: 18px;
    font-size: 1.125rem; }

h3 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 48px;
  line-height: 3rem;
  margin-top: 24px;
  margin-bottom: 0px; }
  h3 small {
    font-size: 14px;
    font-size: 0.875rem; }

h4, h5, h6 {
  line-height: 48px;
  line-height: 3rem; }

h4 {
  font-size: 14px;
  font-size: 0.875rem; }
  h4 small {
    font-size: 12px;
    font-size: 0.75rem; }

h5 {
  font-size: 12px;
  font-size: 0.75rem; }

h6 {
  font-size: 11px;
  font-size: 0.6875rem;
  color: #bfbfbf;
  text-transform: uppercase; }

.page-header {
  padding-bottom: 23;
  margin: 24 0;
  border-bottom: 1px solid #e6e6e6; }

.page-header h1 {
  line-height: 1; }

a {
  color: #049cdb;
  text-decoration: none; }

a:hover {
  color: #0378a9; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

ul, ol {
  padding: 0;
  margin: 0 0 12 25px;
  font-size: 16; }
  ul ul, ul ol, ol ul, ol ol {
    margin: 0 0 0 45px; }
  ul ul, ol ul {
    list-style-type: circle; }
    ul ul ul, ol ul ul {
      list-style-type: square; }
  ul ol, ol ol {
    list-style-type: upper-roman; }
    ul ol ol, ol ol ol {
      list-style-type: lower-roman; }
  ul li, ol li {
    line-height: 24; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0; }
  ul.unstyled, ol.unstyled {
    margin-left: 0;
    list-style: none; }

dl {
  margin-bottom: 24; }

dt,
dd {
  line-height: 24; }

dt {
  font-weight: bold;
  line-height: 23; }
  .dl-horizontal dt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    clear: left;
    width: 120px;
    text-align: right; }

dd {
  margin-left: 12; }
  .dl-horizontal dd {
    margin-left: 130px; }

hr {
  margin: 24 0;
  border: 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid white; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

.muted {
  color: #bfbfbf; }

abbr[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help; }

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 24;
  border-left: 5px solid #e6e6e6; }
  blockquote p {
    margin-bottom: 0;
    font-size: 16;
    font-weight: 300;
    line-height: 30; }
  blockquote small {
    display: block;
    line-height: 24;
    color: #bfbfbf; }
    blockquote small:before {
      content: '\2014 \00A0'; }
  blockquote.pull-right {
    float: right;
    padding-left: 0;
    padding-right: 15px;
    border-left: 0;
    border-right: 5px solid #e6e6e6; }
    blockquote.pull-right p, blockquote.pull-right small {
      text-align: right; }

q:before, q:after,
blockquote:before,
blockquote:after {
  content: ""; }

address {
  display: block;
  margin-bottom: 24;
  line-height: 24;
  font-style: normal; }

small {
  font-size: 75%; }

cite {
  font-style: normal; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

.text-centre, .text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/* ============ */
/* === FORM === */
/* ============ */
form {
  margin: 0 0 24; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

.control-group {
  margin-top: 12; }
  legend + .control-group {
    margin-top: 24;
    -webkit-margin-top-collapse: separate; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 24;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 48px;
  line-height: 3rem;
  color: #404040;
  border: 0;
  border-bottom: 1px solid #eee; }
  legend small {
    font-size: 12px;
    font-size: 0.75rem;
    color: #bfbfbf; }

label,
input,
button,
select,
textarea {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: normal; }

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

label {
  display: block;
  margin-bottom: 5px;
  color: #404040;
  font-weight: bold; }
  label small {
    font-weight: normal;
    color: #8c8c8c; }
  label.checkbox, label.radio {
    font-weight: normal; }
  label input, label textarea, label select {
    display: block; }

input,
textarea,
select,
.uneditable-input,
.file-wrapper {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  width: 210px;
  height: 36;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #404040;
  background-color: #FFF;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.uneditable-textarea {
  width: auto;
  height: auto; }

input[type="image"], input[type="checkbox"], input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
  /* IE9 and down */ }
input[type="image"] {
  border: 0; }
input[type="file"] {
  width: auto;
  height: 28px;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: white;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }
input[type="button"], input[type="reset"], input[type="submit"] {
  width: auto;
  height: auto; }
input[type="image"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }
input[type="hidden"] {
  display: none; }
input[type="color"] {
  height: 40px;
  width: 40px;
  overflow: hidden;
  padding: 2px; }

select {
  width: 220px;
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 28px;
  background-color: white; }
  select[multiple], select[size] {
    height: auto; }

textarea {
  height: auto;
  resize: vertical; }

.radio,
.checkbox {
  padding-left: 18px; }
  .radio input[type="radio"], .radio input[type="checkbox"],
  .checkbox input[type="radio"],
  .checkbox input[type="checkbox"] {
    float: left;
    margin-left: -18px; }
  .radio.inline,
  .checkbox.inline {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle; }
  .radio.inline + .radio.inline,
  .checkbox.inline +
  .checkbox.inline {
    margin-left: 10px; }

.control-input > .radio:first-child, .control-input > .checkbox:first-child {
  padding-top: 5px; }

input,
textarea,
.file-wrapper {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s; }

input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: "inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)";
  -moz-box-shadow: "inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)";
  -o-box-shadow: "inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)";
  box-shadow: "inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)";
  outline: 0;
  outline: thin dotted \9; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.input-mini {
  width: 60px; }

.input-small {
  width: 90px; }

.input-medium {
  width: 150px; }

.input-large {
  width: 210px; }

.input-xlarge {
  width: 270px; }

.input-xxlarge {
  width: 530px; }

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0; }

.file-wrapper input {
  width: 90%; }

input[disabled], input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: #e6e6e6;
  border-color: #ddd;
  cursor: not-allowed; }
input:focus:required:invalid,
select:focus:required:invalid,
textarea:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b; }
  input:focus:required:invalid:focus,
  select:focus:required:invalid:focus,
  textarea:focus:required:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    -o-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7; }

.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853; }
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
  border-color: #c09853; }
  .control-group.warning input:focus,
  .control-group.warning select:focus,
  .control-group.warning textarea:focus {
    border-color: #a47e3c;
    -webkit-box-shadow: 0 0 6px #dbc59e;
    -moz-box-shadow: 0 0 6px #dbc59e;
    -o-box-shadow: 0 0 6px #dbc59e;
    box-shadow: 0 0 6px #dbc59e; }
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853; }

.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48; }
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48; }
  .control-group.error input:focus,
  .control-group.error select:focus,
  .control-group.error textarea:focus {
    border-color: #953b39;
    -webkit-box-shadow: 0 0 6px #d59392;
    -moz-box-shadow: 0 0 6px #d59392;
    -o-box-shadow: 0 0 6px #d59392;
    box-shadow: 0 0 6px #d59392; }
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48; }

.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847; }
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
  border-color: #468847; }
  .control-group.success input:focus,
  .control-group.success select:focus,
  .control-group.success textarea:focus {
    border-color: #356635;
    -webkit-box-shadow: 0 0 6px #7aba7b;
    -moz-box-shadow: 0 0 6px #7aba7b;
    -o-box-shadow: 0 0 6px #7aba7b;
    box-shadow: 0 0 6px #7aba7b; }
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847; }

.form-search input, .form-search textarea, .form-search select, .form-search .help-inline, .form-search .uneditable-input, .form-search .input-prepend, .form-search .input-append,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-inline .input-prepend,
.form-inline .input-append,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-bottom: 0; }
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none; }

.form-horizontal .control-group {
  margin-bottom: 24;
  *zoom: 1; }
  .form-horizontal .control-group:before, .form-horizontal .control-group:after {
    display: table;
    content: " ";
    zoom: 1; }
  .form-horizontal .control-group:after {
    clear: both; }
.form-horizontal .control-label, .form-horizontal .control-group label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right; }
.form-horizontal .control-input, .form-horizontal .control-group div {
  margin-left: 160px;
  /* Super jank IE7 fix to ensure the inputs in .input-append and input-prepend don't inherit the margin of the parent, in this case .control-input */
  *display: inline-block;
  *margin-left: 0;
  *padding-left: 20px; }
  .form-horizontal .control-input:first-child, .form-horizontal .control-group div:first-child {
    *padding-left: 160px; }
.form-horizontal .help-block {
  margin-top: 12;
  margin-bottom: 0; }
.form-horizontal .form-actions {
  padding-left: 160px; }

.form-search > *,
.form-inline > * {
  margin-right: 10px; }
  .form-search > *:last-child,
  .form-inline > *:last-child {
    margin-right: 0; }
.form-search label,
.form-inline label {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1; }
.form-search .radio, .form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle; }
.form-search .radio input[type="radio"], .form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px; }
.form-search .input-prepend, .form-search .input-append,
.form-inline .input-prepend,
.form-inline .input-append {
  margin-bottom: 0; }

.search-query {
  padding-left: 14px;
  padding-right: 14px;
  padding-left: 4px \9;
  padding-right: 4px \9;
  margin-bottom: 0;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px; }

.form-actions {
  padding: 23 20px 24;
  margin-top: 24;
  margin-bottom: 24;
  background-color: whitesmoke;
  border-top: 1px solid #ddd;
  *zoom: 1; }
  .form-actions:before, .form-actions:after {
    display: table;
    content: " ";
    zoom: 1; }
  .form-actions:after {
    clear: both; }
  .form-actions .btn {
    margin-right: 10px; }
    .form-actions .btn:last-child {
      margin-right: 0; }

.uneditable-input {
  background-color: white;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed; }

:-moz-placeholder {
  color: #bfbfbf; }

::-webkit-input-placeholder {
  color: #bfbfbf; }

.help-block,
.help-inline {
  color: gray; }

.help-block {
  display: block;
  margin-bottom: 12; }

.help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px; }

.input-prepend,
.input-append {
  margin-bottom: 5px; }
  .input-prepend input, .input-prepend select, .input-prepend .uneditable-input,
  .input-append input,
  .input-append select,
  .input-append .uneditable-input {
    position: relative;
    margin-bottom: 0;
    *margin-left: 0;
    vertical-align: middle;
    -webkit-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0; }
    .input-prepend input:focus, .input-prepend select:focus, .input-prepend .uneditable-input:focus,
    .input-append input:focus,
    .input-append select:focus,
    .input-append .uneditable-input:focus {
      z-index: 2; }
  .input-prepend .uneditable-input,
  .input-append .uneditable-input {
    border-left-color: #ccc; }
  .input-prepend .add-on,
  .input-append .add-on {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    width: auto;
    min-width: 16px;
    height: 24;
    padding: 4px 5px;
    font-weight: normal;
    line-height: 24;
    text-align: center;
    text-shadow: 0 1px 0 white;
    vertical-align: middle;
    background-color: #e6e6e6;
    border: 1px solid #ccc; }
  .input-prepend .add-on, .input-prepend .btn,
  .input-append .add-on,
  .input-append .btn {
    -webkit-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px; }
  .input-prepend .active,
  .input-append .active {
    background-color: #a9dba9;
    border-color: #46a546; }

.input-prepend .add-on, .input-prepend .btn {
  margin-right: -1px; }

.input-append input, .input-append select, .input-append .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px; }
.input-append .uneditable-input {
  border-left-color: #eee;
  border-right-color: #ccc; }
.input-append .add-on, .input-append .btn {
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0; }

.input-prepend.input-append input, .input-prepend.input-append select, .input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px; }
.input-prepend.input-append .add-on:last-child, .input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0; }

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent; }

.table {
  width: 100%;
  margin-bottom: 24; }
  .table th, .table td {
    padding: 8px;
    line-height: 24;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd; }
  .table th, .table tfoot td {
    font-weight: bold; }
  .table thead th {
    vertical-align: bottom; }
  .table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
    border-top: 0; }
  .table tbody + tbody {
    border-top: 2px solid #dddddd; }

.table-condensed th, .table-condensed td {
  padding: 4px 5px; }

.table-bordered {
  border: 1px solid #dddddd;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  .table-bordered th, .table-bordered td {
    border-left: 1px solid #dddddd; }
  .table-bordered caption + thead tr:first-child th, .table-bordered caption + tbody tr:first-child th, .table-bordered caption + tbody tr:first-child td, .table-bordered colgroup + thead tr:first-child th, .table-bordered colgroup + tbody tr:first-child th, .table-bordered colgroup + tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
    border-top: 0; }
  .table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
    -webkit-border-radius: 4px 0 0 0;
    -o-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0; }
  .table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
    -webkit-border-radius: 0 4px 0 0;
    -o-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0; }
  .table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -o-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px; }
  .table-bordered thead:last-child tr:last-child th:last-child, .table-bordered tbody:last-child tr:last-child td:last-child {
    -webkit-border-radius: 0 0 4px 0;
    -o-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0; }

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9; }

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: whitesmoke; }

table .span1 {
  float: none;
  width: -11.7%;
  margin-left: 0; }
table .span2 {
  float: none;
  width: -3%;
  margin-left: 0; }
table .span3 {
  float: none;
  width: 5.7%;
  margin-left: 0; }
table .span4 {
  float: none;
  width: 14.4%;
  margin-left: 0; }
table .span5 {
  float: none;
  width: 23.1%;
  margin-left: 0; }
table .span6 {
  float: none;
  width: 31.8%;
  margin-left: 0; }
table .span7 {
  float: none;
  width: 40.5%;
  margin-left: 0; }
table .span8 {
  float: none;
  width: 49.2%;
  margin-left: 0; }
table .span9 {
  float: none;
  width: 57.9%;
  margin-left: 0; }
table .span10 {
  float: none;
  width: 66.6%;
  margin-left: 0; }
table .span11 {
  float: none;
  width: 75.3%;
  margin-left: 0; }
table .span12 {
  float: none;
  width: 84%;
  margin-left: 0; }
table .span13 {
  float: none;
  width: 92.7%;
  margin-left: 0; }
table .span14 {
  float: none;
  width: 101.4%;
  margin-left: 0; }
table .span15 {
  float: none;
  width: 110.1%;
  margin-left: 0; }
table .span16 {
  float: none;
  width: 118.8%;
  margin-left: 0; }
table .span17 {
  float: none;
  width: 127.5%;
  margin-left: 0; }
table .span18 {
  float: none;
  width: 136.2%;
  margin-left: 0; }
table .span19 {
  float: none;
  width: 144.9%;
  margin-left: 0; }
table .span20 {
  float: none;
  width: 153.6%;
  margin-left: 0; }
table .span21 {
  float: none;
  width: 162.3%;
  margin-left: 0; }
table .span22 {
  float: none;
  width: 171%;
  margin-left: 0; }
table .span23 {
  float: none;
  width: 179.7%;
  margin-left: 0; }
table .span24 {
  float: none;
  width: 188.4%;
  margin-left: 0; }

code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  _font-family: 'courier new', monospace;
  font-size: 13px;
  color: #404040;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  tab-size: 3; }

code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8; }

pre {
  display: block;
  padding: 11.5;
  margin: 0 0 12;
  line-height: 24;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }
  pre.prettyprint {
    margin-bottom: 24; }
  pre code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0; }

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll; }

img {
  font-style: italic;
  color: #c00;
  border: 0;
  -ms-interpolation-mode: bicubic; }
  img.left {
    margin: 0 20px 0 0; }
  img.right {
    margin: 0 0 0 20px; }

svg:not(:root) {
  overflow: hidden; }

img, object, embed, video {
  max-width: 100%; }

#map_canvas img, .map_canvas img {
  max-width: none!important; }

.block-grid {
  display: block;
  list-style-type: none;
  *zoom: 1; }
  .block-grid:before, .block-grid:after {
    display: table;
    content: " ";
    zoom: 1; }
  .block-grid:after {
    clear: both; }
  .block-grid li {
    display: block;
    height: auto;
    float: left; }
  .block-grid.two-up {
    margin-left: -4%; }
    .block-grid.two-up li {
      margin-left: 4%;
      width: 46%;
      margin-bottom: 4%; }
  .block-grid.three-up {
    margin-left: -2%; }
    .block-grid.three-up li {
      margin-left: 2%;
      width: 31.3%;
      margin-bottom: 2%; }
  .block-grid.four-up {
    margin-left: -2%; }
    .block-grid.four-up li {
      margin-left: 2%;
      width: 23%;
      margin-bottom: 2%; }
  .block-grid.five-up {
    margin-left: -1.5%; }
    .block-grid.five-up li {
      margin-left: 1.5%;
      width: 18.5%;
      margin-bottom: 1.5%; }

ul.centred, ul.centered {
  text-align: center; }
  ul.centred li, ul.centered li {
    display: inline; }

.floated {
  *zoom: 1; }
  .floated:before, .floated:after {
    display: table;
    content: " ";
    zoom: 1; }
  .floated:after {
    clear: both; }
  .floated li {
    float: left;
    display: inline-block; }

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }
  .well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15); }

.well-large {
  padding: 24px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px; }

.well-small {
  padding: 9px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.tabs {
  *zoom: 1;
  margin-bottom: 24; }
  .tabs:before, .tabs:after {
    display: table;
    content: " ";
    zoom: 1; }
  .tabs:after {
    clear: both; }
  .tabs.is-right li {
    float: right; }
  .tabs.is-centred, .tabs.is-centered {
    text-align: center; }
    .tabs.is-centred > li, .tabs.is-centered > li {
      display: inline;
      float: none; }
  .tabs > li {
    float: left;
    margin: 0 5px; }

.tabs-content > li {
  display: none; }
.tabs-content > li.is-active {
  display: block; }

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #404040;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #e6e6e6;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(white), to(#e6e6e6));
  /* Konqueror */
  background-image: -moz-linear-gradient(white, #e6e6e6);
  /* FF 3.6+ */
  background-image: -ms-linear-gradient(white, #e6e6e6);
  /* IE10 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e6e6e6));
  /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(white, #e6e6e6);
  /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(white, #e6e6e6);
  /* Opera 11.10 */
  background-image: -ms-linear-gradient(top, white 0%, #e6e6e6 100%);
  /* IE10+ */
  background-image: linear-gradient(white, #e6e6e6);
  /* the standard */
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: "inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)";
  -moz-box-shadow: "inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)";
  -o-box-shadow: "inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)";
  box-shadow: "inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)";
  cursor: pointer;
  *margin-left: .3em;
  /* Remove the border to prevent IE7's black border on input:focus */
  *border: 0;
  *line-height: 20px; }
  .btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
    *background-color: #d9d9d9; }
  .btn:active, .btn.active {
    background-color: #cccccc e("\9"); }
  .btn:first-child {
    *margin-left: 0; }
  .btn:hover {
    color: #404040;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear; }
  .btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn.active, .btn:active {
    background-image: none;
    -webkit-box-shadow: "inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)";
    -moz-box-shadow: "inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)";
    -o-box-shadow: "inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)";
    box-shadow: "inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)";
    background-color: #e6e6e6;
    background-color: #d9d9d9 e("\9");
    outline: 0; }
  .btn.disabled, .btn[disabled] {
    cursor: default;
    background-image: none;
    background-color: #e6e6e6;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0.65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .btn [class^="icon-"] {
    margin-top: 2px; }

.btn-large {
  padding: 9px 14px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: normal;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .btn-large [class^="icon-"] {
    margin-top: 4px; }

.btn-small {
  padding: 5px 9px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 22px;
  line-height: 1.375rem; }
  .btn-small [class^="icon-"] {
    margin-top: 1px; }

.btn-mini {
  padding: 2px 6px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem; }

.btn-primary, .btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: white; }
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75); }

.btn-primary {
  background-color: #0466db;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0466db));
  /* Konqueror */
  background-image: -moz-linear-gradient(#049cdb, #0466db);
  /* FF 3.6+ */
  background-image: -ms-linear-gradient(#049cdb, #0466db);
  /* IE10 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0466db));
  /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(#049cdb, #0466db);
  /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(#049cdb, #0466db);
  /* Opera 11.10 */
  background-image: -ms-linear-gradient(top, #049cdb 0%, #0466db 100%);
  /* IE10+ */
  background-image: linear-gradient(#049cdb, #0466db);
  /* the standard */
  border-color: #0466db #0466db #034390;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
  *background-color: #0466db;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */ }
  .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0466db;
    *background-color: #045bc2; }
  .btn-primary:active, .btn-primary.active {
    background-color: #034fa9 e("\9"); }

.btn-warning {
  background-color: #f89406;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fbb450), to(#f89406));
  /* Konqueror */
  background-image: -moz-linear-gradient(#fbb450, #f89406);
  /* FF 3.6+ */
  background-image: -ms-linear-gradient(#fbb450, #f89406);
  /* IE10 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbb450), color-stop(100%, #f89406));
  /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(#fbb450, #f89406);
  /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(#fbb450, #f89406);
  /* Opera 11.10 */
  background-image: -ms-linear-gradient(top, #fbb450 0%, #f89406 100%);
  /* IE10+ */
  background-image: linear-gradient(#fbb450, #f89406);
  /* the standard */
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */ }
  .btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #f89406;
    *background-color: #df8505; }
  .btn-warning:active, .btn-warning.active {
    background-color: #c67605 e("\9"); }

.btn-danger {
  background-color: #bd362f;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#bd362f));
  /* Konqueror */
  background-image: -moz-linear-gradient(#ee5f5b, #bd362f);
  /* FF 3.6+ */
  background-image: -ms-linear-gradient(#ee5f5b, #bd362f);
  /* IE10 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #bd362f));
  /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(#ee5f5b, #bd362f);
  /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(#ee5f5b, #bd362f);
  /* Opera 11.10 */
  background-image: -ms-linear-gradient(top, #ee5f5b 0%, #bd362f 100%);
  /* IE10+ */
  background-image: linear-gradient(#ee5f5b, #bd362f);
  /* the standard */
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */ }
  .btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #bd362f;
    *background-color: #a9302a; }
  .btn-danger:active, .btn-danger.active {
    background-color: #942a25 e("\9"); }

.btn-success {
  background-color: #51a351;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#51a351));
  /* Konqueror */
  background-image: -moz-linear-gradient(#62c462, #51a351);
  /* FF 3.6+ */
  background-image: -ms-linear-gradient(#62c462, #51a351);
  /* IE10 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #51a351));
  /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(#62c462, #51a351);
  /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(#62c462, #51a351);
  /* Opera 11.10 */
  background-image: -ms-linear-gradient(top, #62c462 0%, #51a351 100%);
  /* IE10+ */
  background-image: linear-gradient(#62c462, #51a351);
  /* the standard */
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */ }
  .btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #51a351;
    *background-color: #499249; }
  .btn-success:active, .btn-success.active {
    background-color: #408140 e("\9"); }

.btn-info {
  background-color: #2f96b4;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#2f96b4));
  /* Konqueror */
  background-image: -moz-linear-gradient(#5bc0de, #2f96b4);
  /* FF 3.6+ */
  background-image: -ms-linear-gradient(#5bc0de, #2f96b4);
  /* IE10 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #2f96b4));
  /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(#5bc0de, #2f96b4);
  /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(#5bc0de, #2f96b4);
  /* Opera 11.10 */
  background-image: -ms-linear-gradient(top, #5bc0de 0%, #2f96b4 100%);
  /* IE10+ */
  background-image: linear-gradient(#5bc0de, #2f96b4);
  /* the standard */
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */ }
  .btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #2f96b4;
    *background-color: #2a85a0; }
  .btn-info:active, .btn-info.active {
    background-color: #24748c e("\9"); }

.btn-inverse {
  background-color: #262626;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(gray), to(#262626));
  /* Konqueror */
  background-image: -moz-linear-gradient(gray, #262626);
  /* FF 3.6+ */
  background-image: -ms-linear-gradient(gray, #262626);
  /* IE10 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, gray), color-stop(100%, #262626));
  /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(gray, #262626);
  /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(gray, #262626);
  /* Opera 11.10 */
  background-image: -ms-linear-gradient(top, gray 0%, #262626 100%);
  /* IE10+ */
  background-image: linear-gradient(gray, #262626);
  /* the standard */
  border-color: #262626 #262626 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
  *background-color: #262626;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */ }
  .btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #262626;
    *background-color: #1a1a1a; }
  .btn-inverse:active, .btn-inverse.active {
    background-color: #0d0d0d e("\9"); }

button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px; }
  button.btn::-moz-focus-inner,
  input[type="submit"].btn::-moz-focus-inner {
    padding: 0;
    border: 0; }
  button.btn.btn-large,
  input[type="submit"].btn.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px; }
  button.btn.btn-small,
  input[type="submit"].btn.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px; }
  button.btn.btn-mini,
  input[type="submit"].btn.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px; }

.pill {
  display: inline-block;
  padding: 3px 15px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  background-color: #ddd;
  color: #000; }
  .pill.is-active {
    background-color: #049cdb;
    color: #fff; }

.carousel-wrapper {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 600px; }

.carousel {
  overflow: hidden;
  height: 300px;
  width: 600px; }
  .carousel .carousel-item {
    float: left; }
    .carousel .carousel-item img {
      display: block; }

.carousel-pagination a {
  color: #049cdb;
  zoom: 1;
  filter: alpha(opacity=60);
  opacity: 0.6;
  -webkit-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  background-color: #fff;
  display: inline-block;
  width: 30px; }
  .carousel-pagination a.selected, .carousel-pagination a:hover {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    font-weight: bold; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.is-hidden,
.hide {
  display: none !important;
  visibility: hidden; }

.show {
  display: block; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.is-invisible {
  visibility: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both;
  float: none; }

.mb0 {
  margin-bottom: 0 !important; }

.mb1 {
  margin-bottom: 16 !important; }

.mb2 {
  margin-bottom: 24 !important; }

.mb3 {
  margin-bottom: 30 !important; }

.mt0 {
  margin-top: 0 !important; }

.mt1 {
  margin-top: 16 !important; }

.mt2 {
  margin-top: 24 !important; }

.mt3 {
  margin-top: 30 !important; }

img {
  max-width: 100%; }

.hidden {
  display: none;
  visibility: hidden; }

.visible-phone {
  display: none !important; }

.visible-tablet {
  display: none !important; }

.hidden-desktop {
  display: none !important; }

@media screen and (max-width: 767px) {
  .visible-phone {
    display: inherit !important; }

  .hidden-phone {
    display: none !important; }

  .hidden-desktop {
    display: inherit !important; }

  .visible-desktop {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 979px) {
  .visible-tablet {
    display: inherit !important; }

  .hidden-tablet {
    display: none !important; }

  .hidden-desktop {
    display: inherit !important; }

  .visible-desktop {
    display: none !important; } }
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
