.dl-horizontal dt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.radio.inline,
.checkbox.inline, .form-search input, .form-search textarea, .form-search select, .form-search .help-inline, .form-search .uneditable-input, .form-search .input-prepend, .form-search .input-append,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-inline .input-prepend,
.form-inline .input-append,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append, .form-search label,
.form-inline label, .help-inline, .input-prepend .add-on,
.input-append .add-on {
  display: inline-block;
}
.lt-ie8 .radio.inline,
.lt-ie8 .checkbox.inline, .lt-ie8 .form-search input, .form-search .lt-ie8 input, .lt-ie8 .form-search textarea, .form-search .lt-ie8 textarea, .lt-ie8 .form-search select, .form-search .lt-ie8 select, .lt-ie8 .form-search .uneditable-input, .form-search .lt-ie8 .uneditable-input, .lt-ie8 .form-search .input-prepend, .form-search .lt-ie8 .input-prepend, .lt-ie8 .form-search .input-append, .form-search .lt-ie8 .input-append,
.lt-ie8 .form-inline input,
.form-inline .lt-ie8 input,
.lt-ie8 .form-inline textarea,
.form-inline .lt-ie8 textarea,
.lt-ie8 .form-inline select,
.form-inline .lt-ie8 select,
.lt-ie8 .form-inline .uneditable-input,
.form-inline .lt-ie8 .uneditable-input,
.lt-ie8 .form-inline .input-prepend,
.form-inline .lt-ie8 .input-prepend,
.lt-ie8 .form-inline .input-append,
.form-inline .lt-ie8 .input-append,
.lt-ie8 .form-horizontal input,
.form-horizontal .lt-ie8 input,
.lt-ie8 .form-horizontal textarea,
.form-horizontal .lt-ie8 textarea,
.lt-ie8 .form-horizontal select,
.form-horizontal .lt-ie8 select,
.lt-ie8 .form-horizontal .uneditable-input,
.form-horizontal .lt-ie8 .uneditable-input,
.lt-ie8 .form-horizontal .input-prepend,
.form-horizontal .lt-ie8 .input-prepend,
.lt-ie8 .form-horizontal .input-append,
.form-horizontal .lt-ie8 .input-append, .lt-ie8 .form-search label, .form-search .lt-ie8 label,
.lt-ie8 .form-inline label,
.form-inline .lt-ie8 label, .lt-ie8 .help-inline, .lt-ie8 .input-prepend .add-on, .input-prepend .lt-ie8 .add-on,
.lt-ie8 .input-append .add-on,
.input-append .lt-ie8 .add-on {
  display: inline;
  zoom: 1;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

/* ============ */
/* === BASE === */
/* ============ */
body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

figure {
  margin: 0;
}

button,
input {
  line-height: normal;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  width: 100%;
  margin: 0 auto;
  *zoom: 1;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row .row {
  min-width: 0;
}
.row .row .col {
  padding: 0;
}

.col {
  margin-left: 2%;
  padding: 10px;
  float: left;
  min-height: 1px;
  position: relative;
  clear: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.col:first-child {
  margin-left: 0;
}
.col + .col:last-child {
  float: right;
}
.col + .col.end {
  float: left;
}

.span1, .mq-alpha-resize-to1 {
  width: 6.5%;
}

.span2, .mq-alpha-resize-to2 {
  width: 15%;
}

.span3, .mq-alpha-resize-to3 {
  width: 23.5%;
}

.span4, .mq-alpha-resize-to4 {
  width: 32%;
}

.span5, .mq-alpha-resize-to5 {
  width: 40.5%;
}

.span6, .mq-alpha-resize-to6 {
  width: 49%;
}

.span7, .mq-alpha-resize-to7 {
  width: 57.5%;
}

.span8, .mq-alpha-resize-to8 {
  width: 66%;
}

.span9, .mq-alpha-resize-to9 {
  width: 74.5%;
}

.span10, .mq-alpha-resize-to10 {
  width: 83%;
}

.span11, .mq-alpha-resize-to11 {
  width: 91.5%;
}

.span12, .mq-alpha-resize-to12 {
  width: 100%;
}

.split .col, .shunt {
  float: none;
  margin-left: 0;
  min-height: 1px;
  position: relative;
  width: 100%;
  clear: both;
}

.mq-beta-end {
  float: right;
}

.mq-beta-end {
  float: left;
}

.centered.col, .centred.col {
  float: none;
  margin: 0 auto;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  color: #444444;
  background-color: white;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  margin-top: 0;
  margin-bottom: 22px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: #34495e;
  text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #4f6f8f;
}

h1, .h1, .alpha {
  font-size: 51px;
  font-size: 3.1875rem;
  line-height: 44px;
  line-height: 2.75rem;
  margin-top: 22px;
  margin-bottom: 44px;
}

h2, .h2, .beta {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 44px;
  line-height: 2.75rem;
  margin-top: 44px;
  margin-bottom: 22px;
}

h3, .h3, .gamma {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 22px;
  line-height: 1.375rem;
  margin-top: 22px;
  margin-bottom: 0px;
}

h4, .h4, .delta,
h5, .h5, .epsilon,
h6, .h6, .zeta {
  line-height: 22px;
  line-height: 1.375rem;
  margin-top: 0;
  margin-bottom: 0;
}

h4, .h4, .delta {
  font-size: 16px;
  font-size: 1rem;
}

h5, .h5, .epsilon {
  font-size: 12px;
  font-size: 0.75rem;
}

h6, .h6, .zeta {
  font-size: 11px;
  font-size: 0.6875rem;
  color: #b3b3b3;
  text-transform: uppercase;
}

a, a:link {
  color: #34495e;
  text-decoration: none;
}
a:visited {
  color: #34495e;
  text-decoration: none;
}
a:hover {
  color: #19232d;
}
a:active {
  color: #19232d;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul, ol {
  padding: 0;
  margin: 0 0 22px 22px;
}
ul ul, ul ol, ol ul, ol ol {
  margin-left: 44px;
}
ul ul, ol ul {
  list-style-type: circle;
}
ul ul ul, ol ul ul {
  list-style-type: square;
}
ul ol, ol ol {
  list-style-type: upper-roman;
}
ul ol ol, ol ol ol {
  list-style-type: lower-roman;
}
ul li, ol li {
  line-height: 22px;
  line-height: 1.375rem;
}
ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0;
}

.unstyled, form ul, .tabs, .tabs-content,
nav ul, nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

dl {
  margin-bottom: 22px;
}

dt,
dd {
  line-height: 22px;
  line-height: 1.375rem;
}

dt {
  font-weight: bold;
  line-height: 21px;
  line-height: 1.3125rem;
}
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 220px;
  text-align: right;
}

dd {
  margin-left: 22px;
}
.dl-horizontal dd {
  margin-left: 240px;
}

hr {
  margin: 22px 0;
  border: 0;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #fff;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

.muted {
  color: #b3b3b3;
}

abbr[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

blockquote {
  padding-left: 10px;
  margin: 22px;
  border-left: 4px solid #cccccc;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 27.5px;
  line-height: 1.71875rem;
}
blockquote small {
  display: block;
  line-height: 22px;
  line-height: 1.375rem;
  color: #b3b3b3;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-left: 0;
  padding-right: 10px;
  border-left: 0;
  border-right: 4px solid #cccccc;
}
blockquote.pull-right, blockquote.pull-right p, blockquote.pull-right small {
  text-align: right;
}

q:before, q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  margin-bottom: 22px;
  line-height: 22px;
  line-height: 1.375rem;
  font-style: normal;
}

small {
  font-size: 75%;
}

cite {
  font-style: normal;
}

dfn {
  font-style: italic;
}

mark {
  background: #f1c40f;
  padding: 2px 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

sub, sup {
  font-size: 75%;
  line-height: 0px;
  line-height: 0rem;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

samp {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.text-centre, .text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

::-moz-selection {
  color: #c9d5e1;
  background: #34495e;
}

::selection {
  color: #c9d5e1;
  background: #34495e;
}

.page-header {
  padding-bottom: 21px;
  margin: 22px 0;
  border-bottom: 1px solid #b3b3b3;
}

.page-header h1 {
  line-height: 1;
}

form {
  margin: 0 0 22px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.control-group {
  margin-top: 11px;
  list-style-type: none;
}
legend + .control-group {
  margin-top: 22px;
  -webkit-margin-top-collapse: separate;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 22px;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 44px;
  line-height: 2.75rem;
  color: #4d4d4d;
  border: 0;
  border-bottom: 1px solid #eee;
  white-space: normal;
}
legend small {
  font-size: 12px;
  font-size: 0.75rem;
  color: #b3b3b3;
}

label,
input,
button,
select,
textarea {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-weight: normal;
  vertical-align: baseline;
  *vertical-align: middle;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #4d4d4d;
  font-weight: bold;
}
label small {
  font-weight: normal;
  color: #999999;
}
label.checkbox, label.radio {
  font-weight: normal;
  line-height: 1.4;
}
label input, label textarea, label select {
  display: block;
}

input,
textarea,
select,
.uneditable-input,
.file-wrapper {
  width: 210px;
  height: 33px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  color: #4d4d4d;
  background-color: #FFF;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.uneditable-textarea {
  width: auto;
  height: auto;
}

input[type="image"], input[type="checkbox"], input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 \9;
}
input[type="image"] {
  border: 0;
}
input[type="file"] {
  width: auto;
  height: 28px;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: white;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
input[type="image"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
input[type="hidden"] {
  display: none;
}
input[type="color"] {
  height: 40px;
  width: 40px;
  overflow: hidden;
  padding: 2px;
}
input[type="password"] {
  font-family: sans-serif;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
  -webkit-appearance: button;
}

select {
  width: 220px;
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 28px;
  line-height: 1.75rem;
  background-color: white;
}
select[multiple], select[size] {
  height: auto;
}

textarea {
  height: auto;
  resize: vertical;
}

.radio,
.checkbox {
  padding-left: 18px;
}
.radio input[type="radio"], .radio input[type="checkbox"],
.checkbox input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.radio.inline,
.checkbox.inline {
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline +
.checkbox.inline {
  margin-left: 10px;
}

.control-input > .radio:first-child, .control-input > .checkbox:first-child {
  padding-top: 5px;
}

input,
textarea,
.file-wrapper {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(82, 168, 236, 0.6);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.input-mini {
  width: 60px;
}

.input-small {
  width: 90px;
}

.input-medium {
  width: 150px;
}

.input-large {
  width: 210px;
}

.input-xlarge {
  width: 270px;
}

.input-xxlarge {
  width: 530px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}

.file-wrapper input {
  width: 90%;
}

input[disabled], input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: #b3b3b3;
  border-color: #ddd;
  cursor: not-allowed;
}
input:focus:required:invalid,
select:focus:required:invalid,
textarea:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
select:focus:required:invalid:focus,
textarea:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  -o-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
  border-color: #c09853;
}
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: 0 0 6px #dbc59e;
  -moz-box-shadow: 0 0 6px #dbc59e;
  -o-box-shadow: 0 0 6px #dbc59e;
  box-shadow: 0 0 6px #dbc59e;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}

.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  -o-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}

.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
  border-color: #468847;
}
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: 0 0 6px #7aba7b;
  -moz-box-shadow: 0 0 6px #7aba7b;
  -o-box-shadow: 0 0 6px #7aba7b;
  box-shadow: 0 0 6px #7aba7b;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}

.form-search input, .form-search textarea, .form-search select, .form-search .help-inline, .form-search .uneditable-input, .form-search .input-prepend, .form-search .input-append,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-inline .input-prepend,
.form-inline .input-append,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append {
  margin-bottom: 0;
}
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}

.form-horizontal .control-group {
  margin-bottom: 22px;
  *zoom: 1;
}
.form-horizontal .control-group:before, .form-horizontal .control-group:after {
  content: " ";
  display: table;
}
.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal .control-label, .form-horizontal .control-group label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .control-input, .form-horizontal .control-group div {
  margin-left: 160px;
  /* Super jank IE7 fix to ensure the inputs in .input-append and input-prepend don't inherit the margin of the parent, in this case .control-input */
  *display: inline-block;
  *margin-left: 0;
  *padding-left: 20px;
}
.form-horizontal .control-input:first-child, .form-horizontal .control-group div:first-child {
  *padding-left: 160px;
}
.form-horizontal .help-block {
  margin-top: 11px;
  margin-bottom: 0;
}
.form-horizontal .form-actions {
  padding-left: 160px;
}

.form-search > *,
.form-inline > * {
  margin-right: 10px;
}
.form-search > *:last-child,
.form-inline > *:last-child {
  margin-right: 0;
}
.form-search .radio, .form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-search .radio input[type="radio"], .form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}
.form-search .input-prepend, .form-search .input-append,
.form-inline .input-prepend,
.form-inline .input-append {
  margin-bottom: 0;
}

.search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}

.form-actions {
  padding: 21px 20px 22px;
  margin-top: 22px;
  margin-bottom: 22px;
  background-color: whitesmoke;
  border-top: 1px solid #ddd;
  *zoom: 1;
}
.form-actions:before, .form-actions:after {
  content: " ";
  display: table;
}
.form-actions:after {
  clear: both;
}
.form-actions .btn, .form-actions .tabs a, .tabs .form-actions a {
  margin-right: 10px;
}
.form-actions .btn:last-child, .form-actions .tabs a:last-child, .tabs .form-actions a:last-child {
  margin-right: 0;
}

.uneditable-input {
  background-color: white;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}

:-ms-input-placeholder {
  color: #b3b3b3;
}

:-moz-placeholder {
  color: #b3b3b3;
}

::-webkit-input-placeholder {
  color: #b3b3b3;
}

.help-block,
.help-inline {
  color: #7f8c8d;
}

.help-block {
  display: block;
  margin-bottom: 11px;
}

.help-inline {
  vertical-align: middle;
  padding-left: 5px;
}

.input-prepend,
.input-append {
  margin-bottom: 5px;
}
.input-prepend input, .input-prepend select, .input-prepend .uneditable-input,
.input-append input,
.input-append select,
.input-append .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: middle;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend input:focus, .input-prepend select:focus, .input-prepend .uneditable-input:focus,
.input-append input:focus,
.input-append select:focus,
.input-append .uneditable-input:focus {
  z-index: 2;
}
.input-prepend .uneditable-input,
.input-append .uneditable-input {
  border-left-color: #ccc;
}
.input-prepend .add-on,
.input-append .add-on {
  width: auto;
  min-width: 16px;
  height: 22px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 22px;
  line-height: 1.375rem;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  vertical-align: middle;
  background-color: #b3b3b3;
  border: 1px solid #ccc;
}
.input-prepend .add-on, .input-prepend .btn, .input-prepend .tabs a, .tabs .input-prepend a,
.input-append .add-on,
.input-append .btn,
.input-append .tabs a,
.tabs .input-append a {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend .active,
.input-append .active {
  background-color: #81eed8;
  border-color: #1abc9c;
}

.input-prepend .add-on, .input-prepend .btn, .input-prepend .tabs a, .tabs .input-prepend a {
  margin-right: -1px;
}

.input-append input, .input-append select, .input-append .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-append .uneditable-input {
  border-left-color: #eee;
  border-right-color: #ccc;
}
.input-append .add-on, .input-append .btn, .input-append .tabs a, .tabs .input-append a {
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.input-prepend.input-append input, .input-prepend.input-append select, .input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child, .input-prepend.input-append .tabs a:first-child, .tabs .input-prepend.input-append a:first-child {
  margin-right: -1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend.input-append .add-on:last-child, .input-prepend.input-append .btn:last-child, .input-prepend.input-append .tabs a:last-child, .tabs .input-prepend.input-append a:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}

.table {
  width: 100%;
  margin-bottom: 22px;
}
.table th, .table td {
  padding: 8px;
  line-height: 22px;
  line-height: 1.375rem;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table th, .table tfoot td {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}
.table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table-condensed th, .table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered th, .table-bordered td {
  border-left: 1px solid #dddddd;
}
.table-bordered caption + thead tr:first-child th, .table-bordered caption + tbody tr:first-child th, .table-bordered caption + tbody tr:first-child td, .table-bordered colgroup + thead tr:first-child th, .table-bordered colgroup + tbody tr:first-child th, .table-bordered colgroup + tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  -o-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  -o-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  -o-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child, .table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  -o-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: whitesmoke;
}

table .span1 {
  width: 6.5%;
}
table .span2 {
  width: 15%;
}
table .span3 {
  width: 23.5%;
}
table .span4 {
  width: 32%;
}
table .span5 {
  width: 40.5%;
}
table .span6 {
  width: 49%;
}
table .span7 {
  width: 57.5%;
}
table .span8 {
  width: 66%;
}
table .span9 {
  width: 74.5%;
}
table .span10 {
  width: 83%;
}
table .span11 {
  width: 91.5%;
}
table .span12 {
  width: 100%;
}

code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #dd1144;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  tab-size: 3;
}

code {
  padding: 2px 4px;
  color: #dd1144;
  background-color: #fbefc0;
}

pre {
  display: block;
  padding: 10.5px;
  margin: 0 0 11px;
  line-height: 22px;
  line-height: 1.375rem;
  color: #222222;
  background-color: #f7f7f9;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
pre.prettyprint {
  margin-bottom: 22px;
}
pre code {
  padding: 0;
  color: #222222;
  background-color: #f7f7f9;
  border: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

.btn, .tabs a {
  display: inline-block;
  /* [1] */
  vertical-align: middle;
  /* [2] */
  white-space: nowrap;
  /* [3] */
  font-family: inherit;
  /* [4] */
  font-size: 100%;
  /* [4] */
  cursor: pointer;
  /* [5] */
  border: none;
  /* [6] */
  margin: 0;
  /* [6] */
  padding-top: 0;
  /* [6] */
  padding-bottom: 0;
  /* [6] */
  line-height: 3;
  /* [7] */
  height: 3em;
  /* [7] */
  padding-right: 1em;
  /* [7] */
  padding-left: 1em;
  /* [7] */
  overflow: visible;
  /* [8] */
  text-align: center;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn, .tabs a, .btn:hover, .tabs a:hover, .btn:active, .tabs a:active, .btn:focus, .tabs a:focus, .btn:visited, .tabs a:visited {
  text-decoration: none;
}
.btn:active, .tabs a:active, .btn:focus, .tabs a:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
}
.btn.disabled, .tabs a.disabled, .btn[disabled], .tabs a[disabled] {
  cursor: default;
  background-image: none;
  zoom: 1;
  filter: alpha(opacity=65);
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.btn-large {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 3.5;
  height: 3.5em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

.btn-small {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.5;
  height: 1.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.btn-pill {
  padding-left: 1.5em;
  padding-right: 1.5em;
  -webkit-border-radius: 100em;
  -moz-border-radius: 100em;
  -o-border-radius: 100em;
  border-radius: 100em;
}

.btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 17px;
  background: #000;
  color: #34495e;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-close:hover {
  color: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.btn-block + .btn-block {
  margin-top: 10px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn-natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
  background-color: #34495e;
  color: #fff !important;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.btn-primary:hover {
  background-color: #2c3e50;
}

.btn-warning {
  background-color: #e67e22;
  color: #fff !important;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.btn-warning:hover {
  background-color: #d35400;
}

.btn-danger {
  background-color: #e74c3c;
  color: #fff !important;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.btn-danger:hover {
  background-color: #c0392b;
}

.btn-success {
  background-color: #2ecc71;
  color: #fff !important;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.btn-success:hover {
  background-color: #27ae60;
}

.btn-info {
  background-color: #1abc9c;
  color: #fff !important;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.btn-info:hover {
  background-color: #16a085;
}

.btn-inverse {
  background-color: #444444;
  color: #fff !important;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.btn-inverse:hover {
  background-color: #222222;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #34495e;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.btn-link:hover,
.btn-link:focus {
  color: #19232d;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: #333;
  text-decoration: none;
}

img {
  font-style: italic;
  color: #c00;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
img.left {
  margin: 0 20px 0 0;
}
img.right {
  margin: 0 0 0 20px;
}

svg:not(:root) {
  overflow: hidden;
}

img, object, embed, video {
  max-width: 100%;
}

#map_canvas img, .map_canvas img {
  max-width: none !important;
}

.block-grid {
  display: block;
  list-style-type: none;
  *zoom: 1;
}
.block-grid:before, .block-grid:after {
  content: " ";
  display: table;
}
.block-grid:after {
  clear: both;
}
.block-grid li {
  display: block;
  height: auto;
  float: left;
}
.block-grid.two-up {
  margin-left: -4%;
}
.block-grid.two-up li {
  margin-left: 4%;
  width: 46%;
  margin-bottom: 4%;
}
.block-grid.three-up {
  margin-left: -2%;
}
.block-grid.three-up li {
  margin-left: 2%;
  width: 31.3%;
  margin-bottom: 2%;
}
.block-grid.four-up {
  margin-left: -2%;
}
.block-grid.four-up li {
  margin-left: 2%;
  width: 23%;
  margin-bottom: 2%;
}
.block-grid.five-up {
  margin-left: -1.5%;
}
.block-grid.five-up li {
  margin-left: 1.5%;
  width: 18.5%;
  margin-bottom: 1.5%;
}

ul.centred, ul.centered {
  text-align: center;
}
ul.centred li, ul.centered li {
  display: inline;
}

.floated {
  *zoom: 1;
}
.floated:before, .floated:after {
  content: " ";
  display: table;
}
.floated:after {
  clear: both;
}
.floated li {
  float: left;
  display: inline-block;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

.well-large {
  padding: 24px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

.well-small {
  padding: 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.tabs {
  *zoom: 1;
  margin-bottom: 22px;
  border-bottom: 2px solid #1abc9c;
}
.tabs:before, .tabs:after {
  content: " ";
  display: table;
}
.tabs:after {
  clear: both;
}
.tabs.is-right li {
  float: right;
}
.tabs.is-centred, .tabs.is-centered {
  text-align: center;
}
.tabs.is-centred > li, .tabs.is-centered > li {
  display: inline;
  float: none;
}
.tabs > li {
  float: left;
  margin: 0 5px;
}
.tabs a {
  background-color: #95a5a6;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #fff;
}
.tabs a.is-active {
  background-color: #1abc9c;
}

.tabs-content > li {
  display: none;
}
.tabs-content > li.is-active {
  display: block;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 22px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.alert,
.alert h4 {
  color: #c09853;
}
.alert h4 {
  margin: 0;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 22px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-success h4 {
  color: #468847;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  color: #000;
  text-shadow: 0 1px 0 white;
  zoom: 1;
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  zoom: 1;
  filter: alpha(opacity=40);
  opacity: 0.4;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

.ir br {
  display: none;
}

.is-hidden,
.hide {
  display: none !important;
  visibility: hidden;
}

.is-shown,
.show {
  display: block;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.is-invisible {
  visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
  float: none;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb1 {
  margin-bottom: 16px !important;
}

.mb2 {
  margin-bottom: 24px !important;
}

.mb3 {
  margin-bottom: 30px !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt1 {
  margin-top: 16px !important;
}

.mt2 {
  margin-top: 24px !important;
}

.mt3 {
  margin-top: 30px !important;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
