/**
 * Setup styleguide imports
 */
/**
 * Colour palette (yeah we're British!)
 */
/**
 * Forms
 */
/**
 * Variables
 * =================================
 * Typography
 * Breakpoints
 * Paths
 * Grid setup
 * Colour palette
 * Components
 */
/**
 * Typography
 * =================================
 * Base sizes:
 * Set this in pixels (but do not add px),
 * the font-size mixin will convert to REMS
 */
/* Font stacks */
/**
 *  Breakpoints
 * =================================
 * There are no common breakpoints so these are just a suggestion
 * You'll need to define your own breakpoints to suit your design
 */
/**
 * Path vars
 */
/**
 * Grid setup
 * Settings here override & affect the output in scss/partials/components/grid.scss
 */
/**
 * Tables
 * Customizes the `.table` component with basic values, each used across all table variations.
 */
/**
 * App-specific variables
 * =================================
 * Add common vars below here
 */
/* ==========================================================================
   Sass Mixins
   * Vendor Prefixer
   * Responsive
   * CSS3
   * Utility Mixins
   * hiDpi
   * Forms
   ========================================================================== */
/* Vendor prefixer */
/* Responsive mixins */
/* ==========================================================================
   Responsive media query mixins
   * These are used so that we can define separate media-query content
     for <IE9 and browsers with support for media queries
   * These are directly related to the global $fix-mqs var defined in
     kickoff-old-ie.scss
   * kickoff-old-ie.scss ignores any content in media-queries with values less
     than the $fix-mqs var value
   ========================================================================== */
/*
   Min-width media query:
   * Equivalent to: @media screen and (min-width: 20em) { ... }
   * Usage: @include respond-min(500) { ... };
   * Argument is a pixel value WITHOUT a unit of measurement
   ========================================================================== */
/*
   Max-width media query:
   * Equivalent to: @media screen and (max-width: 20em) { ... }
   * Usage: @include respond-max(500) { ... };
   * Argument is a pixel value WITHOUT a unit of measurement
   ========================================================================== */
/*
   Min-max-width media query:
   * Equivalent to: @media screen and (min-width: 10em) and (max-width: 20em) { ... }
   * Usage: @include respond-min-max(500, 600) { ... };
   * Arguments are pixel values WITHOUT a unit of measurement
   ========================================================================== */
/*
   Old IE specific mixin
   * Only use this content if we're dealing with old IE
   * Usage: @include oldie() { ... }
   ========================================================================== */
/* CSS3 */
/**
 * Linear Gradient
 * Usage: @include linear-gradient(#000, #BADA55, horizontal, true);
 */
/* ==========================================================================
   Radial Gradient
   Usage: @include radial-gradient(#000, #BADA55, true);
   ========================================================================== */
/**
 * vertical-center
 * Vertically center any element. Needs support for CSS tranforms.
 * Usage:
 * @include vertical-center;
 */
/**
 * Utility mixins
 * Clearfix, REM + fallbacks, @font-face, sizing shortcuts, other helpers
 */
/* ==========================================================================
   Utility Mixins
   ========================================================================== */
/* ==========================================================================
   Typography mixins
   ========================================================================== */
/* HiDPI */
/* FORMS */
/**
 * Typography
 * =================================
 * Body text
 * Base
 * Paragraphs
 * Headings
 * Lists
 * Quotes
 * Links
 * Helper classes
 *
 * Body font size, leadings etc have been set in _variables.scss
 * Resources:
 * http://www.gridlover.net/
 * http://modularscale.com/
 * http://lamb.cc/typograph/
 *
 */
html {
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }
  @media screen and (min-width: 48em) {
    html {
      font-size: 20px; } }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-size: 1rem;
  line-height: 1.4;
  color: #444;
  -webkit-font-feature-settings: "liga", "dlig";
     -moz-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig"; }

/**
 * Paragraphs
 */
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 28px; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.1;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal; }

h1, .h1, .alpha {
  font-size: 36px;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 56px; }

h2, .h2, .beta {
  font-size: 30px;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 28px; }

h3, .h3, .gamma {
  font-size: 24px;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0; }

h4, .h4, .delta, h5, .h5, .epsilon, h6, .h6, .zeta {
  margin-top: 0;
  margin-bottom: 0; }

h4, .h4, .delta {
  font-size: 20px;
  font-size: 1rem; }

h5, .h5, .epsilon {
  font-size: 16px;
  font-size: 0.8rem; }

h6, .h6, .zeta {
  font-size: 14px;
  font-size: 0.7rem;
  text-transform: uppercase; }

* + h1, * + .h1, * + .alpha, * + h2, * + .h2, * + .beta, * + h3, * + .h3, * + .gamma, * + h4, * + .h4, * + .delta, * + h5, * + .h5, * + .epsilon, * + h6, * + .h6, * + .zeta {
  margin-top: 28px; }

small {
  font-size: 75%; }

/**
 * Links
 */
a, a:link {
  color: #e67e22;
  text-decoration: none; }
a:visited {
  color: #e67e22;
  text-decoration: none; }
a:hover, a:focus {
  color: #924d10; }
a:active {
  color: #924d10; }

/**
 * Lists
 */
ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

ul, ol {
  padding: 0;
  margin: 0 0 28px 28px; }
  ul ul, ul ol, ol ul, ol ol {
    margin-left: 56px; }
  ul ul, ol ul {
    list-style-type: circle; }
    ul ul ul, ol ul ul {
      list-style-type: square; }
  ul ol, ol ol {
    list-style-type: upper-roman; }
    ul ol ol, ol ol ol {
      list-style-type: lower-roman; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0; }

/**
 * Unstyled lists
 */
.unstyled, nav ul, nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none; }

/**
 * Definition lists
 */
dl {
  margin-bottom: 28px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 28px; }

.dl-horizontal::after {
  content: "";
  display: table;
  clear: both; }
.dl-horizontal dt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  clear: left;
  width: 220px;
  text-align: right; }
.dl-horizontal dd {
  margin-left: 240px; }

/**
 * Miscellaneous
 */
hr {
  margin: 28px 0;
  border: 0;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #fff; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

abbr[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help; }

/**
 * Blockquotes
 */
blockquote {
  padding-left: 10px;
  margin: 28px;
  border-left: 4px solid #cccccc; }
  blockquote p {
    margin-bottom: 0;
    font-size: 20px;
    font-size: 1rem;
    font-weight: 300; }
  blockquote small {
    display: block;
    color: #b3b3b3; }
    blockquote small:before {
      content: '\2014 \00A0'; }
  blockquote.pull-right {
    float: right;
    padding-left: 0;
    padding-right: 10px;
    border-left: 0;
    border-right: 4px solid #cccccc; }
    blockquote.pull-right, blockquote.pull-right p, blockquote.pull-right small {
      text-align: right; }

q:before, q:after, blockquote:before, blockquote:after {
  content: ""; }

address {
  display: block;
  margin-bottom: 28px;
  font-style: normal; }

cite {
  font-style: normal; }

dfn {
  font-style: italic; }

mark {
  background: #f1c40f;
  padding: 2px 4px;
  border-radius: 3px; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

samp {
  font-family: Menlo, Monaco, "Courier New", monospace; }

/**
 * Utilities
 */
.text-centre, .text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/* ==========================================================================
   Styleguide styles
   ========================================================================== */
body {
  background-color: #f1f1f1; }

.g-container {
  padding: 30px;
  background-color: #fff;
  margin-top: 3%;
  margin-bottom: 3%; }

.g-row + .g-row {
  margin-top: 30px; }

.g-span12 + .g-span12 {
  margin-top: 30px; }

.well {
  min-height: 90px;
  padding: 30px;
  background-color: #dbdbdb;
  margin: 30px -30px 50px;
  color: #333; }

.well--inner {
  margin-left: 0;
  margin-right: 0; }

.interfaceType, .section-heading, .typeSpecimen::after {
  font-family: 'Karla', "Helvetica Neue", Helvetica, Arial, sans-serif; }

.section-heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.3em;
  margin-top: 1em; }

.interfaceType-subtle, .typeSpecimen::after {
  color: #888; }

.masthead {
  background-color: #e67e22;
  color: #fff;
  padding: 30px;
  margin: -30px -30px 30px; }
  .masthead h1 {
    margin-bottom: 0.2em; }
  .masthead a {
    color: #fff;
    border-bottom: 2px solid; }
    .masthead a:hover {
      border-bottom-style: dashed; }
  .masthead :last-child {
    margin-bottom: 0; }

/*
   Colours
   ========================================================================== */
.swatch {
  height: 120px;
  padding: 15px;
  margin-bottom: 0.5em; }

.color-primary {
  color: #e67e22; }
  .color-primary.bg {
    background-color: #e67e22;
    color: #fff; }
    .color-primary.bg::after {
      content: '#e67e22'; }

.color-secondary {
  color: #e74c3c; }
  .color-secondary.bg {
    background-color: #e74c3c;
    color: #fff; }
    .color-secondary.bg::after {
      content: '#e74c3c'; }

.color-highlight {
  color: #f1c40f; }
  .color-highlight.bg {
    background-color: #f1c40f;
    color: #fff; }
    .color-highlight.bg::after {
      content: '#f1c40f'; }

.color-text {
  color: #444; }
  .color-text.bg {
    background-color: #444;
    color: #fff; }
    .color-text.bg::after {
      content: '#444'; }

.color-background {
  color: #f1f1f1; }
  .color-background.bg {
    background-color: #f1f1f1;
    color: #444; }
    .color-background.bg::after {
      content: '#f1f1f1'; }

.color-link {
  color: #e67e22; }
  .color-link.bg {
    background-color: #e67e22;
    color: #fff; }
    .color-link.bg::after {
      content: '#e67e22'; }

.color-link-hover {
  color: #924d10; }
  .color-link-hover.bg {
    background-color: #924d10;
    color: #fff; }
    .color-link-hover.bg::after {
      content: '#924d10'; }

.typography .info p {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }
.typography .example {
  margin: 1em 0; }
  .typography .example h1::after {
    content: ' - 36px'; }
  .typography .example h2::after {
    content: ' - 30px'; }
  .typography .example h3::after {
    content: ' - 24px'; }
  .typography .example h4::after {
    content: ' - 20px'; }
  .typography .example h5::after {
    content: ' - 16px'; }
  .typography .example h6::after {
    content: ' - 14px'; }
  .typography .example h1::after, .typography .example h2::after, .typography .example h3::after, .typography .example h4::after, .typography .example h5::after, .typography .example h6::after {
    text-transform: lowercase; }
  .typography .example .interfaceType::after, .typography .example .section-heading::after, .typography .example .typeSpecimen::after {
    content: ""; }

.typeSpecimen {
  margin-bottom: 0;
  margin-top: 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word; }
  .typeSpecimen::after {
    display: block;
    font-size: 16px;
    font-size: 0.8rem;
    margin-top: 5px;
    border-top: 1px solid #ddd;
    font-weight: normal; }

h1.typeSpecimen::after {
  content: "Font stack: inherit"; }

p.typeSpecimen::after {
  content: "Font stack: "Helvetica Neue", Helvetica, Arial, sans-serif"; }

/**
 * Starter page
 */
.checklistInfo {
  margin-bottom: 15px;
  margin-left: 30px;
  font-size: 17px; }
  .checklistInfo li {
    margin-bottom: 0.2em; }
  .checklistInfo code, .checklistInfo pre {
    font-size: 14px;
    font-size: 0.7rem;
    background-color: #CACACA; }
