/* ==========================================================================
   Global app/site styles
   ========================================================================== */




/*
   Masthead
   ========================================================================== */



/*
   Footer
   ========================================================================== */





/* ==========================================================================
   Media queries for responsive design
   ========================================================================== */

/*
   Retina media Queries
   Credit: http://dev.mattnt.com/retina-results.html
   ========================================================================== */
@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {

	// * {
	// 	background-image: url(@imgSprite2x);
	// 	background-size: @imgSpriteDimensions;
	// }

}

// === 400> ===
@include respond-min($breakpoint-narrow) {

}
// === end 400> ===



// === 768> ===
@include respond-min($breakpoint-mid) {

}
// === end 768> ===


// === 992> ===
@include respond-min($breakpoint-wide) {

}
// === end 992> ===


// === 1382> ===
@include respond-min($breakpoint-huge) {

}
// === end 1382> ===
