// ====================
// === BUTTONS.scss ===
// ====================
// * Base Styles
//

// Base styles

// Core
.btn {
	@extend %inline-block;
	padding: 4px 12px;
	margin-bottom: 0; // For input.btn
	@include font-size($base-font-size);
	@include line-height($base-line-height);
	text-align: center;
	// vertical-align: middle;
	cursor: pointer;

	@include button-background($btn-background, $btn-background-highlight, #333, 0 1px 1px rgba(255,255,255,.75));

	border: 1px solid $btn-border;
	*border: 0; // Remove the border to prevent IE7's black border on input:focus
	border-bottom-color: darken($btn-border, 10%);
	@include border-radius(4px);

	// Give IE7 some love
	@extend %ie7-restore-left-whitespace;

	$shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.05);
	@include box-shadow($shadow);

	// Hover/focus state
	&:hover,
	&:focus {
		color: #333;
		text-decoration: none;
		background-position: 0 -15px;

		// transition is only when going to hover/focus, otherwise the background
		// behind the gradient (there for IE<=9 fallback) gets mismatched
		@include transition(background-position .1s linear);
	}

	// Focus state for keyboard and accessibility
	&:focus {
		@extend %tab-focus;
	}

	// Active state
	&.active,
	&:active {
		background-image: none;
		outline: 0;
		$shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
		@include box-shadow($shadow);
	}

	// Disabled state
	&.disabled,
	&[disabled] {
		cursor: default;
		background-image: none;
		@include opacity(65);
		@include box-shadow(none);
	}

}



// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
	padding: 11px 19px;
	@include font-size($base-font-size + 2);
	@include border-radius(6px);
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
	margin-top: 4px;
}

// Small
.btn-small {
	padding: 2px 10px;
	@include font-size($base-font-size - 2);
	@include border-radius(3px);
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
	margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
	margin-top: -1px;
}

// Mini
.btn-mini {
	padding: 0 6px;
	@include font-size($base-font-size - 2);
	@include border-radius(3px);
}

.btn-pill {
	@include border-radius(100em);
	padding-left: 15px;
	padding-right: 15px;
}

.btn-flat {

}

// Block button
// -------------------------
.btn-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	// @include box-sizing(border-box);
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
	margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
	&.btn-block {
		width: 100%;
	}
}



// Alternate buttons
// --------------------------------------------------

// Provide *some* extra contrast for those who can get it
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
	color: rgba(255,255,255,.75);
}

// Set the backgrounds
// -------------------------
.btn-primary {
	@include button-background($btn-primary-background, $btn-primary-background-highlight);
}
// Warning appears are orange
.btn-warning {
	@include button-background($btn-warning-background, $btn-warning-background-highlight);
}
// Danger and error appear as red
.btn-danger {
	@include button-background($btn-danger-background, $btn-danger-background-highlight);
}
// Success appears as green
.btn-success {
	@include button-background($btn-success-background, $btn-success-background-highlight);
}
// Info appears as a neutral blue
.btn-info {
	@include button-background($btn-info-background, $btn-info-background-highlight);
}
// Inverse appears as dark gray
.btn-inverse {
	@include button-background($btn-inverse-background, $btn-inverse-background-highlight);
}


// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {

	// Firefox 3.6 only I believe
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}

	// IE7 has some default padding on button controls
	*padding-top: 3px;
	*padding-bottom: 3px;

	&.btn-large {
		*padding-top: 7px;
		*padding-bottom: 7px;
	}
	&.btn-small {
		*padding-top: 3px;
		*padding-bottom: 3px;
	}
	&.btn-mini {
		*padding-top: 1px;
		*padding-bottom: 1px;
	}
}


// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link
.btn-link,
.btn-link:active,
.btn-link[disabled] {
	background-color: transparent;
	background-image: none;
	@include box-shadow(none);
}
.btn-link {
	border-color: transparent;
	cursor: pointer;
	color: $color-link-default;
	@include border-radius(0);
}
.btn-link:hover,
.btn-link:focus {
	color: $color-link-hover;
	text-decoration: underline;
	background-color: transparent;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
	color: #333;
	text-decoration: none;
}
