// ====================
// === BUTTONS.scss ===
// ====================

$kickoff-button-style         : 'stylish'; // 'flat' or 'stylish'
$kickoff-button-border-radius : 5px; // Any value
$kickoff-button-border-width  : 0px;

// Usage
// @include kickoff-button(text color, background color, active-color);
// @include kickoff-button(#fff, $blue, $blue);

@mixin kickoff-button(
	$text-color     : lighten(#000, 30%),
	$bg-color       : $btnBackground,
	$active-color   : $btnBackground
	){

	$text-color-lightness : lightness($text-color);
	$bg-lightness         : lightness($bg-color);
	$active-lightness     : lightness($active-color);

	@extend %kickoff-button-base;

	color: $text-color;

	// Button style 'flat'
	@if $kickoff-button-style == 'flat' {
		background-color: $bg-color;
		border: 1px solid $bg-color;
	}

	// Button style 'stylish'
	@if $kickoff-button-style == 'stylish' {
		// @debug $bg-lightness;

		@if $bg-lightness < 80 {
			// Darker
			@include gradient-vertical($bg-color, darken(adjust-hue($bg-color, 10%), 15%));
			border: 1px solid darken($bg-color, 9%);
			border-bottom-color: darken($bg-color, 14%);
			text-shadow: 0 -1px 1px fade-out($bg-color, 0.1);
		} @else {
			// Lighter
			@include gradient-vertical($bg-color, darken($bg-color, 15%));
			border: 1px solid darken($bg-color, 30%);
			border-bottom-color: darken($bg-color, 40%);
			text-shadow: 0 1px 1px rgba(255,255,255,.75);
		}
		$shadow: inset 0 1px 1px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.05);
		@include box-shadow($shadow);

	}

	// Only have border radius if the value is larger than zero
	@if $kickoff-button-border-radius > 0 {
		@include border-radius($kickoff-button-border-radius);
	}

	&:link, &:visited {
		color: $text-color;
	}

	// Hover state
	&:hover {
		color: $text-color;

		@if $kickoff-button-style == 'flat' {
			border: 1px solid darken($bg-color, 10%);
			background-color: darken($bg-color, 10%);
		}

		@if $kickoff-button-style == 'stylish' {
			background-position: 0 -15px;
		}
	}

	// Active state
	&:active {
		@if $kickoff-button-style == 'stylish' {
			$shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
			@include box-shadow($shadow);
		}

		@if $kickoff-button-style == 'flat' {
			background-color: darken($bg-color, 10%);
		}
	}

	// Active state
	&.is-active {
		@if $bg-lightness < 20 {
			color: lighten($text-color, 80%);
		} @else {
			color: $text-color;
		}
		@if $active-color != $bg-color {
			@if $kickoff-button-style == 'flat' {
				border: 1px solid $active-color;
				background-color: $active-color;
			}

			@if $kickoff-button-style == 'stylish' {

				// TODO: make text color much lighter if the bg color is dark & vice versa
				@if $bg-lightness < 80 {
					// Darker
					@include gradient-vertical($active-color, darken(adjust-hue($active-color, 10%), 15%));
					border: 1px solid darken($active-color, 9%);
					border-bottom-color: darken($active-color, 14%);
					text-shadow: 0 -1px 1px fade-out($active-color, 0.1);
				} @else {
					// Lighter
					@include gradient-vertical($active-color, darken($active-color, 15%));
					border: 1px solid darken($active-color, 30%);
					border-bottom-color: darken($active-color, 40%);
					text-shadow: 0 1px 1px rgba(255,255,255,.75);
				}
				$shadow: inset 0 1px 1px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.05);
				@include box-shadow($shadow);
			}
		}


	}
}

%kickoff-button-base {
	display: inline-block;
	@include ie7-inline-block();
	padding: 5px 10px;
	margin-bottom: 0; // For input.btn
	@include font-size($baseFontSize);
	@include line-height($baseLineHeight);
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	// Give IE7 some love
	@include ie7-restore-left-whitespace();
	@include reset-filter();

	/* Remove the border to prevent IE7's black border on input:focus */
	*border: 0;
	*line-height: 20px;

	&:hover{
		text-decoration: none;
	}

	// Focus state for keyboard and accessibility
	&:focus {
		@include tab-focus();
	}

	// Disabled state
	&.disabled,
	&[disabled],
	&:hover[disabled] {
		cursor: default;
		background-image: none;
		background-color: darken(#fff, 20%);
		border-color: darken(#fff, 20%);
		@include opacity(75);
		@include box-shadow(none);
	}

	& [class^="icon-"] {
		margin-top: 2px;
	}

	&:active {
		background-image: none;
		outline: 0;
	}
}

// Core
.btn {
	@include kickoff-button;
}

// Set the backgrounds
// -------------------------
.btn-primary {
	@include kickoff-button($text-color: #fff, $bg-color: $blue);
}
.btn-warning {
	@include kickoff-button($text-color: #fff, $bg-color: lighten(#444, 10%));
}
.btn-flat {
	$kickoff-button-style : 'flat';
	@include kickoff-button($text-color: #fff, $bg-color: $blue);
}

// Pills
.btn-pill {
	$kickoff-button-style         : 'flat';
	$kickoff-button-border-radius : 30px;
	@include kickoff-button($text-color: #444, $bg-color: #fff, $active-color: #ddd);
	padding-left: 15px;
	padding-right: 15px;
}


// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
	padding: 9px 14px;
	@include font-size($baseFontSize + 2);
	line-height: normal;

	& [class^="icon-"] {
		margin-top: 4px;
	}

}

// Small
.btn-small {
	padding: 5px 9px;
	@include font-size($baseFontSize - 2);
	@include line-height($baseLineHeight - 2);

	& [class^="icon-"] {
		margin-top: 1px;
	}
}


// Mini
.btn-mini {
	padding: 2px 6px;
	@include font-size($baseFontSize - 2);
	@include line-height($baseLineHeight - 4);
	@include border-radius(3px);
}


// Alternate buttons
// --------------------------------------------------

// Set text color
// -------------------------
// .btn-primary{
// 	&,
// 	&:hover {
// 		text-shadow: 0 -1px 0 rgba(0,0,0,.25);
// 		color: #fff;
// 	}

// 	// Provide *some* extra contrast for those who can get it
// 	&.active {
// 		color: rgba(255,255,255,.75);
// 	}
// }






// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {

	// Firefox 3.6 only I believe
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}

	// IE7 has some default padding on button controls
	*padding-top: 2px;
	*padding-bottom: 2px;

	&.btn-large {
		*padding-top: 7px;
		*padding-bottom: 7px;
	}
	&.btn-small {
		*padding-top: 3px;
		*padding-bottom: 3px;
	}
	&.btn-mini {
		*padding-top: 1px;
		*padding-bottom: 1px;
	}
}




