// ====================
// === BUTTONS.scss ===
// ====================
// Based on csswizardry.com/beautons
//

//////////////////////
// Base button styles.
//
//  1. Allow us to better style box model properties.
//  2. Line different sized buttons up a little nicer.
//  3. Stop buttons wrapping and looking broken.
//  4. Make buttons inherit font styles.
//  5. Force all elements using beautons to appear clickable.
//  6. Normalise box model styles.
//  7. If the button’s text is 1em, and the button is (3 * font-size) tall, then
//     there is 1em of space above and below that text. We therefore apply 1em
//     of space to the left and right, as padding, to keep consistent spacing.
//  8. Fixes odd inner spacing in IE7.
//  9. Don’t allow buttons to have underlines; it kinda ruins the illusion.
// 10. Prevents from inheriting default anchor styles.

.btn {
	display:inline-block;       /* [1] */
	vertical-align:middle;      /* [2] */
	white-space:nowrap;         /* [3] */
	font-family:inherit;        /* [4] */
	font-size:100%;             /* [4] */
	cursor:pointer;             /* [5] */
	border:none;                /* [6] */
	margin:0;                   /* [6] */
	padding-top:   0;           /* [6] */
	padding-bottom:0;           /* [6] */
	line-height:3;              /* [7] */
	height:     3em;            /* [7] */
	padding-right:1em;          /* [7] */
	padding-left: 1em;          /* [7] */
	overflow:visible;           /* [8] */
	text-align: center;

	// You may want to change this
	background-color: $btn-background;

	@include border-radius(4px);
	@include user-select(none);
	$shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.05);
	@include box-shadow($shadow);

	&, &:hover, &:active, &:focus, &:visited {
		text-decoration: none;
	}

	&:active,
	&:focus{
		outline:none;
		box-shadow:0 0 5px rgba(0, 0, 0, 0.5) inset;
	}

	// Disabled state
	&.disabled,
	&[disabled] {
		cursor: default;
		background-image: none;
		@include opacity(65);
		@include box-shadow(none);
	}
}

// Button Sizes
// --------------------------------------------------
// These all follow the same sizing rules as above; text is 1em, space around it
// Large
.btn-large {
	@include font-size($base-font-size + 2);
	line-height:3.5;
	height:     3.5em;
	padding-right:1.5em;
	padding-left: 1.5em;
	@include border-radius(6px);
}

// Small
.btn-small {
	@include font-size(13);
	line-height:1.5;
	height:     1.5em;
	padding-right:0.5em;
	padding-left: 0.5em;
	@include border-radius(3px);
}

.btn-pill {
	padding-left: 1.5em;
	padding-right: 1.5em;
	@include border-radius(100em);
}

// Close button: for lightboxes etc
.btn-close {
	position: absolute;
	right: 20px;
	top: 20px;

	display: block;
	height: 20px;
	width: 20px;
	line-height: 17px;

	background: #000;
	color: $color-primary;
	text-align: center;
	@include border-radius(5px);
	cursor: pointer;
	@include user-select(none);

	&:hover {
		color: #fff;
		@include border-radius(50px);
	}
}

// Block button
// -------------------------
.btn-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
	margin-top: 10px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
	&.btn-block {
		width: 100%;
	}
}

// Make the button inherit sizing from its parent.
.btn-natural{
	vertical-align:baseline;
	font-size:inherit;
	line-height:inherit;
	height:auto;
	padding-right:0.5em;
	padding-left: 0.5em;
}

// Alternate buttons
// --------------------------------------------------

// Provide *some* extra contrast for those who can get it
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
	color: rgba(255,255,255,.75);
}

// Set the backgrounds
// -------------------------
.btn-primary {
	background-color: $btn-primary-background;
	color: #fff !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);

	&:hover{
		background-color: $btn-primary-background-highlight;
	}
}
// Warning appears are orange
.btn-warning {
	background-color: $btn-warning-background;
	color: #fff !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);

	&:hover{
		background-color: $btn-warning-background-highlight;
	}
}
// Danger and error appear as red
.btn-danger {
	background-color: $btn-danger-background;
	color: #fff !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);

	&:hover{
		background-color: $btn-danger-background-highlight;
	}
}
// Success appears as green
.btn-success {
	background-color: $btn-success-background;
	color: #fff !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);

	&:hover{
		background-color: $btn-success-background-highlight;
	}
}
// Info appears as a neutral blue
.btn-info {
	background-color: $btn-info-background;
	color: #fff !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);

	&:hover{
		background-color: $btn-info-background-highlight;
	}
}
// Inverse appears as dark gray
.btn-inverse {
	background-color: $btn-inverse-background;
	color: #fff !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);

	&:hover{
		background-color: $btn-inverse-background-highlight;
	}
}

// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link
.btn-link,
.btn-link:active,
.btn-link[disabled] {
	background-color: transparent;
	background-image: none;
	@include box-shadow(none);
}
.btn-link {
	border-color: transparent;
	cursor: pointer;
	color: $color-link-default;
	@include border-radius(0);
}
.btn-link:hover,
.btn-link:focus {
	color: $color-link-hover;
	text-decoration: underline;
	background-color: transparent;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
	color: #333;
	text-decoration: none;
}
