// ====================
// === BUTTONS.scss ===
// ====================

// Core
.btn {
	display: inline-block;
	@include ie7-inline-block();
	padding: 5px 10px;
	margin-bottom: 0; // For input.btn
	@include font-size($baseFontSize);
	@include line-height($baseLineHeight);
	color: $grayDark;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,.75);
	// vertical-align: middle;
	@include buttonBackground($btnBackground, $btnBackgroundHighlight);
	border: 1px solid $btnBorder;
	border-bottom-color: darken($btnBorder, 10%);
	@include border-radius(4px);
	@include box-shadow("inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");
	cursor: pointer;

	// Give IE7 some love
	@include ie7-restore-left-whitespace();

	/* Remove the border to prevent IE7's black border on input:focus */
	*border: 0;
	*line-height: 20px;


	// Hover state
	&:hover {
		color: $grayDark;
		text-decoration: none;
		background-color: darken($white, 10%);
		*background-color: darken($white, 15%); // Buttons in IE7 don't get borders, so darken on hover

		background-position: 0 -15px;

		// transition is only when going to hover, otherwise the background
		// behind the gradient (there for IE<=9 fallback) gets mismatched
		@include transition(background-position .1s linear);
	}

	// Focus state for keyboard and accessibility
	&:focus {
		@include tab-focus();
	}

	// Active state
	&.active,
	&:active {
		background-image: none;
		@include box-shadow("inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");
		background-color: darken($white, 10%);
		background-color: darken($white, 15%) e("\9");
		outline: 0;
	}

	// Disabled state
	&.disabled,
	&[disabled] {
		cursor: default;
		background-image: none;
		background-color: darken($white, 10%);
		@include opacity(65);
		@include box-shadow(none);
	}

	& [class^="icon-"] {
		margin-top: 2px;
	}
}



// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
	padding: 9px 14px;
	@include font-size($baseFontSize + 2);
	line-height: normal;
	@include border-radius(5px);

	& [class^="icon-"] {
		margin-top: 4px;
	}

}

// Small
.btn-small {
	padding: 5px 9px;
	@include font-size($baseFontSize - 2);
	@include line-height($baseLineHeight - 2);

	& [class^="icon-"] {
		margin-top: 1px;
	}
}


// Mini
.btn-mini {
	padding: 2px 6px;
	@include font-size($baseFontSize - 2);
	@include line-height($baseLineHeight - 4);
}


// Alternate buttons
// --------------------------------------------------

// Set text color
// -------------------------
.btn-primary,
.btn-warning,
.btn-danger,
.btn-success,
.btn-info,
.btn-inverse,{
	&,
	&:hover {
		text-shadow: 0 -1px 0 rgba(0,0,0,.25);
		color: $white;
	}

	// Provide *some* extra contrast for those who can get it
	&.active {
		color: rgba(255,255,255,.75);
	}
}


// Set the backgrounds
// -------------------------
.btn-primary {
	@include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
}
// Warning appears are orange
.btn-warning {
	@include buttonBackground($btnWarningBackground, $btnWarningBackgroundHighlight);
}
// Danger and error appear as red
.btn-danger {
	@include buttonBackground($btnDangerBackground, $btnDangerBackgroundHighlight);
}
// Success appears as green
.btn-success {
	@include buttonBackground($btnSuccessBackground, $btnSuccessBackgroundHighlight);
}
// Info appears as a neutral blue
.btn-info {
	@include buttonBackground($btnInfoBackground, $btnInfoBackgroundHighlight);
}
// Inverse appears as dark gray
.btn-inverse {
	@include buttonBackground($btnInverseBackground, $btnInverseBackgroundHighlight);
}


// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {

	// Firefox 3.6 only I believe
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}

	// IE7 has some default padding on button controls
	*padding-top: 2px;
	*padding-bottom: 2px;

	&.btn-large {
		*padding-top: 7px;
		*padding-bottom: 7px;
	}
	&.btn-small {
		*padding-top: 3px;
		*padding-bottom: 3px;
	}
	&.btn-mini {
		*padding-top: 1px;
		*padding-bottom: 1px;
	}
}


// =============
// === PILLS ===
// =============
.pill {
	display: inline-block;
	padding: 3px 15px;
	@include border-radius(30px);
	background-color: #ddd;
	color: #000;

	&.is-active {
		background-color: $blue;
		color: #fff;
	}
}

