// =====================
// === CAROUSEL.less ===
// =====================
// Use these basic styles with the carouFredSel plugin.
// Find more code & examples at http://coolcarousels.frebsite.nl/

.carousel-wrapper {
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: 600px;
}
.carousel {
	overflow: hidden;
	// Specify dimensions in app.less
	@include size(600px, 300px);
	& .carousel-item {
		float: left;
		& img {
			display: block;
		}
	}
}

.carousel-pagination {
	a {
		color: $blue;
		@include opacity(60);
		@include border-radius(40px);
		background-color: #fff;
		display: inline-block;
		width: 30px;
		&.selected, &:hover {
			@include opacity(100);
			font-weight: bold;
		}
	}
}