// =================
// === CODE.scss ===
// =================
// * Code typography styles for the <code> and <pre> elements
// ----------------------------------------------------------

// Inline and block code styles
code,
pre {
	padding: 0 3px 2px;
	font-family: $mono-font-family;
	@include font-size(13);
	color: $color-code;
	@include border-radius(3px);
	tab-size: 3;
}

// Inline code
code {
	padding: 2px 4px;
	color: $color-code;
	background-color: $color-code-background;
}

// Blocks of code
pre {
	display: block;
	padding: ($base-line-height - 1) / 2 + px;
	margin: 0 0 ($base-line-height / 2 + px);
	line-height: $base-leading;
	color: $color-pre;
	background-color: $color-pre-background;
	border: 1px solid #ccc; // fallback for IE7-8
	border: 1px solid rgba(0,0,0,.15);
	@include border-radius(4px);
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;

	// Make prettyprint styles more spaced out for readability
	&.prettyprint {
		margin-bottom: $base-line-height + px;
	}

	// Account for some code outputs that place code tags in pre tags
	& code {
		padding: 0;
		color: $color-pre;
		background-color: $color-pre-background;
		border: 0;
	}
}

// Enable scrollable blocks of code
.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll;
}
