/**
 * Site dependencies
 */

/**
 * Core variables
 * =================================
 * Edit your color palette and app vars before your begin
 */
@import "color-palette";
@import "variables";


/*
 * Mixins, helpers and functions
 * =================================
 * Most CSS3 vendor prefixed items have a mixin,
 * but we should not need them if autoprefixer is being used
 * See mixins/css3.scss for the full list
 */
@import "functions/functions";
@import "mixins/mixins";


/* CSS Reset  */
@import "reset";

/* Global typography styles */
@import "typography";


/**
 * Components:
 * =================================
 * Buttons
 * Grid
 * Lists
 * Forms
 * Embedded content
 * Media Object
 * Block grids
 * Fluid video
 * Tabs
 * Tables
 * Code
 * Skip navigation
 * Scrollbars
 */
@import "partials/components/buttons";
@import "partials/components/grid"; // See http://tmwagency.github.io/kickoff/docs/grid.html for more info
@import "partials/components/lists";
@import "partials/components/forms";
@import "partials/components/embedded-content";
@import "partials/components/media-object";
@import "partials/components/fluid-video";
@import "partials/components/block-grids";
@import "partials/components/tabs";
@import "partials/components/tables";
@import "partials/components/code";
@import "partials/components/skip-navigation";
@import "partials/components/scrollbars";


/**
 * Your app styles
 * =================================
 * Global styles
 * Example partial for masthead & footer
 * Icons - used in conjunction with grunticon
 */
@import "global";
@import "partials/masthead";
@import "partials/footer";
@import "partials/icons";


/**
 * Views
 * =================================
 */
//@import "views/home";
//@import "views/contact";


/**
 * Helper/utility classes
 * =================================
 */
@import "helper-classes";


/**
 * Print styles
 */
@import "print";
