/* ==========================================================================
   Site dependencies
   ========================================================================== */

/*
   Core variables
   * Edit your color palette and app vars before your begin
   ========================================================================== */
@import "colour-palette";
@import "variables";


/*
   Mixins, helpers and functions
   * Most CSS3 vendor prefixed items have a mixin.
   * See mixins/css3.scss for the full list
   ========================================================================== */
@import "functions/functions";
@import "mixins/mixins";


/*
   CSS Reset
   ========================================================================== */
@import "normalize"; // CSS reset


/*
   Global typography styles
   ========================================================================== */
@import "typography";


/* ==========================================================================
   Components:
   * Buttons
   * Lists
   * Forms
   * Embedded content
   * Media Object
   * Wells
   * Block grids
   * Tabs
   * Tables
   * Code
   ========================================================================== */
@import "partials/components/buttons";
@import "partials/components/lists";
@import "partials/components/forms";
@import "partials/components/icons";
@import "partials/components/embedded-content";
@import "partials/components/media-object";
@import "partials/components/wells";
@import "partials/components/fluid-video";
@import "partials/components/block-grids";
@import "partials/components/tabs";
@import "partials/components/tables";
@import "partials/components/code";
@import "partials/components/wells";


/*
   Grid System
   * Default: Choreographic Grid. Switch out for your own if you need
   * See http://tmwagency.github.io/kickoff/docs/grid.html for more info
   ========================================================================== */
@import "partials/components/choreographic-grid";


/*
   Your app styles
   ========================================================================== */
@import "global";
@import "partials/masthead";
@import "partials/footer";

/* Examples: */
//@import "views/home";
//@import "views/contact";


/*
   Utility classes
   * Has to be last to override when necessary
   ========================================================================== */
@import "helper-classes";

/* Print styles */
@import "print";
