/**
 * Global app/site styles
 */
body {
	background-color: $color-bg;
}





/**
 * Retina media query
 */
@include hidpi() {

}


/**
 * Media queries for responsive design
 */
// === $bp-narrow> ===
@include respond-min($bp-narrow) {

}
// === end $bp-narrow> ===



// === $bp-mid> ===
@include respond-min($bp-mid) {

}
// === end $bp-mid> ===


// === $bp-wide> ===
@include respond-min($bp-wide) {

}
// === end $bp-wide> ===


// === $bp-huge> ===
@include respond-min($bp-huge) {

}
// === end $bp-huge> ===