// ===================
// === MIXINS.scss ===
// ===================
// * VENDOR PREFIXER
// * RESPONSIVE
// * CSS3
// * UTILITY MIXINS
// * FORMS

// === Vendor prefix ===
@import "mixins/prefixer";

// === RESPONSIVE MIXINS ===
@import "mixins/responsive";

// === CSS3 ===
@import "mixins/linear-gradient";
@import "mixins/radial-gradient";
@import "mixins/css3";
@import "mixins/animation";
@import "mixins/keyframes";


// === UTILITY MIXINS ===
@import "mixins/utility";


// === FORMS ===
@import "mixins/forms";

// Table columns
@mixin tableColumns($columnSpan: 1) {
	float: none; // undo default grid column styles
	width: (($gridColumnWidth) * $columnSpan) + ($gridGutterWidth * ($columnSpan - 1)) - 16; // 16 is total padding on left and right of table cells
	margin-left: 0; // undo default grid column styles
}

// TODO: Check we need this
// === COMPONENT MIXINS ===
@mixin buttonBackground($startColor, $endColor) {
	// gradientBar will set the background to a pleasing blend of these, to support IE<=9
	// @include gradientBar($startColor, $endColor);
	@include gradient-vertical($startColor, $endColor);

	// IE 7 + 8 can't handle box-shadow to show active, so we darken a bit ourselves
	&:active,
	&.active {
		background-color: darken($endColor, 10%) e("\9");
	}
}

// === BROWSER FIXES ===
@import "mixins/oldIE";


// TODO: Check we need this
// Reset filters for IE
@mixin reset-filter() {
	filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
}
