/* ==========================================================================
   Normalize - CSS reset

   http://github.com/necolas/normalize.css
   Kickoff uses an amended version of this file.
   ========================================================================== */

*,
*::before,
*::after {
	box-sizing: border-box;
}

// HTML5 display definitions
// Corrects block display not defined in IE6/7/8/9 & FF3
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
	display: block;
}

// Corrects inline-block display not defined in IE6/7/8/9 & FF3
audio,canvas,video {
	display: inline-block;
}

// Prevents modern browsers from displaying 'audio' without controls
// Remove excess height in iOS5 devices
audio:not([controls]) {
	display: none;
	height: 0;
}
// Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
// Hide the `template` element in IE, Safari, and Firefox < 22.

[hidden],
template {
	display: none;
}

/* ============ */
/* === BASE === */
/* ============ */

// Addresses margins handled incorrectly in IE6/7
body { margin: 0; }

// =============
// === LINKS ===
// =============
// Remove the gray background color from active links in IE 10.
a { background: transparent; }

// Addresses outline displayed oddly in Chrome
a:focus { outline: thin dotted; }

// Improves readability when focused and also mouse hovered in all browsers
// people.opera.com/patrickl/experiments/keyboard/test
a:hover, a:active { outline: 0; }


// ===============
// === FIGURES ===
// ===============
// Addresses margin not present in IE6/7/8/9, S5, O11
figure {
	margin: 0;
}

// =============
// === FORMS ===
// =============

// Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
button,
input {
	line-height: normal; // 1
}

// 1. Addresses appearance set to searchfield in Safari 5, Chrome
input[type="search"] {
	-webkit-appearance: textfield; // 1
}

// Removes inner padding and search cancel button in S5, Chrome on OS X
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

// Removes inner padding and border in FF3+
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

// 1. Removes default vertical scrollbar in IE6/7/8/9
// 2. Improves readability and alignment in all browsers

textarea {
	overflow: auto; // 1
	vertical-align: top; // 2
}
