// =========================
// === TYPOGRAPHY.scss =====
// === TABLE OF CONTENTS ===
// =========================
// BODY TEXT
// BASE
// PARAGRAPHS
// HEADINGS
// LISTS
// QUOTES
// LINKS
// HELPER CLASSES

// Typography.less
// Headings, body text, lists, code, and more for a versatile and durable typography system
// ----------------------------------------------------------------------------------------


// BODY TEXT
body {
	font-family: $baseFontFamily;
	@include font-size($baseFontSize);
	@include line-height($baseLineHeight);
	color: $textColor;
	background-color: $bodyBackground;

	// Two ways to smoothen type, they are disabled by default. Enable only one of them if you need them.
	// 1.
	// -webkit-font-smoothing: antialiased;
	//    -moz-font-smoothing: antialiased;
	// font-smooth:always;

	// 2.
	// @include opacity(99);
}

p {
	font-family: $baseFontFamily;
	@include font-size($baseFontSize);
	@include line-height($baseLineHeight);
	margin-top: 0;
	margin-bottom: $baseLineHeight + px;
	small {
		font-size: $baseFontSize - 2;
		color: $grayLight;
	}
}

.lead {
	margin-bottom: $baseLineHeight + px;
	font-size: 20px;
	font-weight: 200;
	@include line-height($baseLineHeight * 1.5);
}

// HEADINGS

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: $headingsFontFamily;
	font-weight: $headingsFontWeight;
	color: $headingsColor;
	text-rendering: optimizelegibility; // Fix the character spacing for headings
	& small {
		font-weight: normal;
		color: $grayLight;
	}
}
h1 {
	@include font-size(68);
	@include line-height(72);
	margin-top: 24px;
	margin-bottom: 48px;
	& small {
		@include font-size(18);
	}
}
h2 {
	@include font-size(42);
	@include line-height(48);
	margin-top: 48px;
	margin-bottom: 24px;
	& small {
		@include font-size(18);
	}
}
h3 {
	@include font-size(26);
	@include line-height(48);
	margin-top: 24px;
	margin-bottom: 0px;
	& small {
		@include font-size(14);
	}
}
h4, h5, h6 {
	@include line-height(48);
}
h4 {
	@include font-size(14);
	& small {
		@include font-size(12);
	}
}
h5 {
	@include font-size(12);
}
h6 {
	@include font-size(11);
	color: $grayLight;
	text-transform: uppercase;
}

// Page header
.page-header {
	padding-bottom: $baseLineHeight - 1 + px;
	margin: ($baseLineHeight + px) 0;
	border-bottom: 1px solid $grayLighter;
}
.page-header h1 {
	line-height: 1;
}

// LINKS
a {
	color: $linkColor;
	text-decoration: none;
}
a:hover {
	color: $linkColorHover;
	//text-decoration: underline;
}


// LISTS
//default list styles
ul { list-style-type: disc }
ol { list-style-type: decimal }

// Unordered and Ordered lists
// Add a .normal class to unordered/ordered lists if you want them to have bullets/numbers
ul, ol {
	padding: 0;
	margin: 0 0 ($baseLineHeight / 2 + px) 25px;
	@include font-size($baseFontSize);
	& ul,
	& ol {
		margin: 0 0 0 45px;
	}
	& ul {
		list-style-type: circle;
		& ul {
			list-style-type: square;
		}
	}
	& ol {
		list-style-type: upper-roman;
		& ol {
			list-style-type: lower-roman;
		}
	}
	& li {
		@include line-height($baseLineHeight);
	}

	& ul,
	& ol {
		margin-bottom: 0;
	}

	&.unstyled {
		margin-left: 0;
		list-style: none;
	}
}


// Description Lists
dl {
	margin-bottom: $baseLineHeight + px;
}
dt,
dd {
	@include line-height($baseLineHeight);
}
dt {
	font-weight:$boldFontWeight;
	@include line-height($baseLineHeight - 1); // fix jank Helvetica Neue font bug

	// Horizontal layout (like forms)
	.dl-horizontal & {
		@include text-overflow();
		float: left;
		clear: left;
		width: 120px;
		text-align: right;
	}
}
dd {
	margin-left: $baseLineHeight / 2 + px;

	.dl-horizontal & {
		margin-left: 130px;
	}
}

// MISC
// ----

// Horizontal rules
hr {
	margin: ($baseLineHeight + px) 0;
	border: 0;
	border-top: 1px solid $hrBorder;
	border-bottom: 1px solid $white;
}

// Emphasis
strong, b {
	font-weight: $boldFontWeight;
}
em, i {
	font-style: italic;
}
.muted {
	color: $grayLight;
}

// Abbreviations and acronyms
abbr[title] {
	border-bottom: 1px dotted #ddd;
	cursor: help;
}
abbr.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

// Blockquotes
blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 ($baseLineHeight + px);
	border-left: 5px solid $grayLighter;
	& p {
		margin-bottom: 0;
		@include font-size($baseFontSize);
		font-weight: 300;
		@include line-height($baseLineHeight * 1.25);
	}
	& small {
		display: block;
		@include line-height($baseLineHeight);
		color: $grayLight;
		&:before {
			content: '\2014 \00A0';
		}
	}

	// Float right with text-align: right
	&.pull-right {
		float: right;
		padding-left: 0;
		padding-right: 15px;
		border-left: 0;
		border-right: 5px solid $grayLighter;
		& p,
		& small {
			text-align: right;
		}
	}
}

// Quotes
q,
blockquote {
	&:before,
	&:after {
		content: "";
	}
}

// Addresses
address {
	display: block;
	margin-bottom: $baseLineHeight + px;
	@include line-height($baseLineHeight);
	font-style: normal;
}

// Misc
small {
	font-size: 75%;
}
cite {
	font-style: normal;
}
// Addresses styling not present in S5, Chrome
dfn {
	font-style: italic;
}
// Addresses styling not present in IE6/7/8/9
mark {
	background: #ff0;
	color: #000;
}

// Prevents sub and sup affecting line-height in all browsers
// gist.github.com/413930
sub, sup {
	font-size: 75%;
	@include line-height(0);
	position: relative;
	vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }



// =================
// === UTILITIES ===
// =================
.text-centre, .text-center { text-align: center;}
.text-left { text-align: left;}
.text-right { text-align: right;}
