/**
 * Typography
 * =================================
 * Body text
 * Base
 * Paragraphs
 * Headings
 * Lists
 * Quotes
 * Links
 * Helper classes
 *
 * Body font size, leadings etc have been set in _variables.scss
 * Resources:
 * http://www.gridlover.net/
 * http://modularscale.com/
 * http://lamb.cc/typograph/
 *
 */

html {
	font-size: $font-size-base-narrow-px;
	text-size-adjust: 100%;

	@include respond-min($breakpoint-mid) {
		font-size: $font-size-base-px;
	}
}

body {
	font-family: $font-family-base;
	@include font-size($font-size-base);
	line-height: $leading-base;
	color: $color-text;

	// Add ligatures
	font-feature-settings: "liga","dlig";

	// Two ways to smoothen type, they are disabled by default
	// Enable only one of them if you need them
	// =========================================
	// 1.
	// -webkit-font-smoothing: antialiased;
	//    -moz-font-smoothing: antialiased;
	// font-smooth:always;

	// 2.
	// opacity: 0.99;
}

/**
 * Paragraphs
 */
p {
	font-family: $font-family-base;
	@include font-size($font-size-base);
	margin-top: 0;
	margin-bottom: $line-height-base-px;

	// Measure - ideally about 65 chars per line
	// =========================================
	// max-width: $font-size-base * 30 + px;

	// & small {
	// 	color: lighten($color-text, 10%);
	// }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: $font-family-headings;
	font-weight: $font-weight-headings;
	line-height: $line-height-headings;
	text-rendering: optimizelegibility; // Fix the character spacing for headings

	& small {
		font-weight: normal;
	}
}

// Use the helper classes to emulate styles for another element
// For example: h3.h1 or h3.alpha
h1, .h1, .alpha {
	@include font-size($h1-size);
	margin-top: 0;
	margin-bottom: $line-height-base-px * 2;
}

h2, .h2, .beta {
	@include font-size($h2-size);
	margin-top: 0;
	margin-bottom: $line-height-base-px;
}

h3, .h3, .gamma {
	@include font-size($h3-size);
	margin-top: 0;
	margin-bottom: 0;
}

h4, .h4, .delta,
h5, .h5, .epsilon,
h6, .h6, .zeta {
	margin-top: 0;
	margin-bottom: 0;
}

h4, .h4, .delta {
	@include font-size($h4-size);
}

h5, .h5, .epsilon {
	@include font-size($h5-size);
}

h6, .h6, .zeta {
	@include font-size($h6-size);
	text-transform: uppercase;
}

* + h1, * + .h1, * + .alpha,
* + h2, * + .h2, * + .beta,
* + h3, * + .h3, * + .gamma,
* + h4, * + .h4, * + .delta,
* + h5, * + .h5, * + .epsilon,
* + h6, * + .h6, * + .zeta {
	margin-top: $line-height-base-px;
}

small {
	font-size: 75%;
}

/**
 * Links
 */
a {
	&, &:link {
		color: $color-link-default;
		text-decoration: none;
	}

	&:visited {
		color: $color-link-visited;
		text-decoration: none;
	}
	&:hover, &:focus {
		color: $color-link-hover;
		//text-decoration: underline;
	}
	&:active {
		color: $color-link-active;
		//text-decoration: underline;
	}
}


/**
 * Lists
 */
ul {
	list-style-type: disc;
}
ol {
	list-style-type: decimal;
}

// Unordered and Ordered lists
// Add a .unstyled class to unordered/ordered lists if you want them to have bullets/numbers
ul, ol {
	padding: 0;
	margin: 0 0 $line-height-base-px $line-height-base-px;

	& ul,
	& ol {
		margin-left: $line-height-base-px * 2;
	}

	& ul {
		list-style-type: circle;
		& ul {
			list-style-type: square;
		}
	}

	& ol {
		list-style-type: upper-roman;
		& ol {
			list-style-type: lower-roman;
		}
	}

	& ul,
	& ol {
		margin-bottom: 0;
	}
}

/**
 * Unstyled lists
 */
.unstyled,
nav ul, nav ol {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
}


/**
 * Definition lists
 */
dl {
	margin-bottom: $line-height-base-px;
}

dt {
	font-weight: $font-weight-bold;
}

dd {
	margin-left: $line-height-base-px;
}

.dl-horizontal {
	@include clearfix;

	dt {
		@include text-overflow();
		float: left;
		clear: left;
		width: 220px;
		text-align: right;
	}

	dd {
		margin-left: 240px;
	}
}


/**
 * Miscellaneous
 */
// Horizontal rules
hr {
	margin: ($line-height-base-px) 0;
	border: 0;
	border-top: 1px solid $hr-border;
	border-bottom: 1px solid #fff;
}

// Emphasis
strong, b {
	font-weight: $font-weight-bold;
}
em, i {
	font-style: italic;
}

// Abbreviations and acronyms
abbr[title] {
	border-bottom: 1px dotted #ddd;
	cursor: help;
}

/**
 * Blockquotes
 */
blockquote {
	padding-left: 10px;
	margin: ($line-height-base-px);
	border-left: 4px solid lighten(#000, 80%);

	& p {
		margin-bottom: 0;
		@include font-size($font-size-base);
		font-weight: 300;
	}

	& small {
		display: block;
		color: lighten(#000, 70%);

		&:before {
			content: '\2014 \00A0';
		}
	}

	// Float right with text-align: right
	&.pull-right {
		float: right;
		padding-left: 0;
		padding-right: 10px;
		border-left: 0;
		border-right: 4px solid lighten(#000, 80%);

		&, & p, & small {
			text-align: right;
		}
	}
}

// Quotes
q,
blockquote {
	&:before,
	&:after {
		content: "";
	}
}

// Addresses
address {
	display: block;
	margin-bottom: $line-height-base-px;
	font-style: normal;
}

cite {
	font-style: normal;
}

// Addresses styling not present in S5, Chrome
dfn {
	font-style: italic;
}

// Addresses styling not present in IE6/7/8/9
mark {
	background: $yellow;
	padding: 2px 4px;
	border-radius: 3px;
}

// Prevents sub and sup affecting line-height in all browsers
// gist.github.com/413930
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

samp {
	font-family: $font-family-mono;
}


/**
 * Utilities
 */
.text-centre, // British or US English spellings..
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

@include text-selection($color-selection, $color-selection-bg);
