/* ==========================================================================
   Variables
   * Settings
   * Global valuesx
   * Breakpoints
   * Paths
   * Grid setup
   * Colour palette
   * Components
   ========================================================================== */


/*
   Settings
   ========================================================================== */
// Whether or not the markup has html5-boilerplate style IE classes in it or not
$using-ieclasses              : true;

// whether or not to disable MS-specific 'filter' properties (can make IE slow!)
$disable-filters              : true;

$support-ie7                  : true;
$support-ie8                  : true;
$support-FF36                 : false;


/*
    Typography
   ========================================================================== */
// Base sizes
// Set this in pixels, the font-size mixin will convert to REMS
$base-font-size                : 16;
$base-leading                  : 1.4;
$base-line-height              : round($base-font-size * $base-leading);

// Useful to set here when bold webfonts come as 400 font-weight.
$bold-font-weight             : bold;

// Font stacks
$sans-font-family             : "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font-family            : Georgia, "Times New Roman", Times, serif;
$mono-font-family             : Menlo, Monaco, "Courier New", monospace;

$base-font-family             : $sans-font-family;
$alt-font-family              : $serif-font-family;

$headings-font-family         : inherit; // empty to use Kickoff default $base-font-family
$headings-font-weight         : bold;    // instead of browser default, bold


/*
   Breakpoints
   ========================================================================== */
// There are no common breakpoints so these are just a suggestion
// You'll need to define your own breakpoints to suit your design
$breakpoint-narrow            : 400;  // Set in px
$breakpoint-mid               : 768;  // Set in px
$breakpoint-wide              : 992;  // Set in px
$breakpoint-huge              : 1600; // Set in px


/*
   Path vars
   ========================================================================== */
// Usage
// background: url('#{$img-path}/img.jpg') 0 0 no-repeat;

$img-path                     : "/img";
$img-ui-path                  : "#{$img-path}/ui";
// $img-ui-sprite                : "#{$img-ui-path}/ui/kickoff-sprite.png";
// $img-ui-sprite-dimensions     : 50px 300px; // Used for hiDPI sprites  - make these the same size as $imgSprite1x
// $img-ui-sprite-2x             : "#{$img-ui-path}/kickoff-sprite-2x.png";


/*
   Choreographic Grid setup
   ========================================================================== */
// Settings here override & affect the output in choreographic-grid.scss

// Setup grid defaults
$gridColumnCount              : 12    ; // Total column count
$gridGutterWidth              : 20    ; // [in pixels]
$gridMaxWidth                 : 1000  ; // [in pixels]
$gridMargin                   : 0     ; // [in pixels] Space outside the grid

// Column Padding
$gridColumnPadding            : 10     ; // [in pixels]
$gridColumnPaddingUnit        : 'px'   ; // [in pixels or percent] Specify your unit of measurement for column padding
$nestedColumnPadding          : false ; // Remove padding on nested columns so they are aligned correctly. Set this to [false] to enable it.

// Choose your grid options
$debugQueries                 : false ; // Show the media query debugger at the top of the viewport
$usingPushPullColumns         : false  ; // Allow columns to be pushed & pulled
$usingOffsetcolumns           : false  ; // Allow columns to be offset
$usingSplitsAndShunts         : false  ; // Use Splits & Shunts for responsive web design



/*
   App-specific variables
   ========================================================================== */





