/**
 * Setup styleguide imports
 */
@import "color-palette";
@import "variables";

@import "functions/functions";
@import "mixins/mixins";


// @import "normalize";

@import "typography";


// Override the grid
// $grid-column-count              : 12    ;
// $grid-gutter-width              : 20    ;
// $grid-max-width                 : 1000  ;
// $grid-margin                    : 40    ;
// $grid-column-padding            : 0     ;
// $grid-column-padding-unit       : 'px'  ;
// $nested-column-padding          : false ;
// @import "partials/components/grid";

// @import "partials/components/forms";
// @import "partials/components/tables";
// @import "partials/components/code";
// @import "partials/components/buttons";
// @import "partials/components/embedded-content";
// @import "partials/components/lists";
// @import "partials/components/tabs";
// @import "partials/components/media-object";
// @import "partials/components/fluid-video";
// @import "partials/components/block-grids";

// @import "global";
// @import "partials/masthead";
// @import "partials/footer";

// @import "helper-classes";
// @import "print";
$interface-type : 'Karla', "Helvetica Neue", Helvetica, Arial, sans-serif;

/* ==========================================================================
   Styleguide styles
   ========================================================================== */
body {
	background-color: #f1f1f1;
}
.g-container {
	padding: 30px;
	background-color: #fff;
	margin-top: 3%;
	margin-bottom: 3%;
}
.g-row + .g-row {
	margin-top: 30px;
}
.g-span12 + .g-span12 {
	margin-top: 30px;
}

.well {
	min-height: 90px;
	padding: 30px;
	background-color: #dbdbdb;
	margin: 30px -30px 50px;
	color: #333;
}

.well--inner {
	margin-left: 0;
	margin-right: 0;
}

.interfaceType {
	font-family: $interface-type;
}

.section-heading {
	border-bottom: 1px solid rgba(#000, 0.2);
	padding-bottom: .3em;
	@extend .interfaceType;
	margin-top: 1em;
}
.interfaceType-subtle {
	color: #888;
}

.masthead {
	background-color: $orange;
	color: #fff;
	padding: 30px;
	margin: -30px -30px 30px;

	h1 {
		margin-bottom: 0.2em;
	}

	a {
		color: #fff;
		border-bottom: 2px solid;

		&:hover {
			border-bottom-style: dashed;
		}
	}

	:last-child {
		margin-bottom: 0;
	}
}
/*
   Colours
   ========================================================================== */
.swatch {
	height: 120px;
	padding: 15px;
	margin-bottom: 0.5em;
}
@mixin swatch($color) {
	color: $color;
	&.bg {
		background-color: $color;
		@if lightness($color) < 60 {
			color: #fff;
		} @else {
			color: #444;
		}

		&::after {
			content: '#{$color}';
		}
	}
}
.color-primary {
	@include swatch($color-primary);
}
.color-secondary {
	@include swatch($color-secondary);
}
.color-highlight {
	@include swatch($color-highlight);
}
.color-text {
	@include swatch($color-text);
}
.color-background {
	@include swatch($color-bg);
}
.color-link {
	@include swatch($color-link-default);
}
.color-link-hover {
	@include swatch($color-link-hover);
}

.typography {
	.info {
		p {
			-ms-word-wrap: break-word;
			word-wrap: break-word;
		}
	}
	.example {
		margin: 1em 0;

		h1::after {
			content: ' - #{$h1-size}px';
		}
		h2::after {
			content: ' - #{$h2-size}px';
		}
		h3::after {
			content: ' - #{$h3-size}px';
		}
		h4::after {
			content: ' - #{$h4-size}px';
		}
		h5::after {
			content: ' - #{$h5-size}px';
		}
		h6::after {
			content: ' - #{$h6-size}px';
		}

		h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
			text-transform: lowercase;
		}

		.interfaceType::after {
			content: "";
		}
	}
}

.typeSpecimen {
	margin-bottom: 0;
	margin-top: 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;

	&::after {
		display: block;
		@extend .interfaceType;
		@extend .interfaceType-subtle;
		@include font-size(16);
		margin-top: 5px;
		border-top: 1px solid #ddd;
		font-weight: normal;
	}
}
h1.typeSpecimen::after {
	content: "Font stack: #{$font-family-headings}";
}
p.typeSpecimen::after {
	content: "Font stack: #{$font-family-base}";
}


/**
 * Starter page
 */

.checklistInfo {
	margin-bottom: 15px;
	margin-left: 30px;
	font-size: $font-size-base-px - 3;

	li {
		margin-bottom: 0.2em;
	}

	code,
	pre {
		@include font-size(14);
		background-color: #CACACA;
	}
}