/**
 * Block grids
 * These are suited for repeating blocks of content. See below for usage
 *
 * Usage:
 * <ul class="l-blockGrid l-blockGrid--3up">
 *     <li></li>
 * </ul>
 *
 * Mobile Usage:
 * <ul class="l-blockGrid l-blockGrid--3up l-blockGrid--3up--narrow">
 *     <li></li>
 * </ul>
 */
.l-blockGrid {
	display: block;
	list-style-type: none;
	margin: 0;
	@include clearfix;

	> li {
		display: block;
		height: auto;

		@if $gridColumnPadding > 0 {
			padding: $gridColumnPadding + px;
		}
	}

	// Narrow block-grid
	@include respond-max($breakpoint-single-col) {
		> li[class*="up--narrow"] {
			display: block;
			height: auto;
			float: left;
		}
		@for $i from 1 to $gridColumnCount + 1 {
			&.l-blockGrid--#{$i}up--mobile > li {
				width: percentage(1 / $i);
				display: block;
				height: auto;
				float: left;
			}
		}
	}

	@include respond-min($breakpoint-single-col) {
		> li {
			display: block;
			height: auto;
			float: left;
		}

		// Wide block-grid
		@for $i from 1 to $gridColumnCount + 1 {
			&.l-blockGrid--#{$i}up > li {
				width: percentage(1 / $i);
			}
		}
	}
}
