/*
   Blockquotes
   ========================================================================== */
blockquote {
	border-radius: 10px;
	position: relative;
	color: #fff;
	padding: 20px;
	@include font-size(22);
	margin: 0 0 60px;

	small {
		position: absolute;
		top: 100%;
		left: 30px;
		color: $color-text;
		@include font-size(16);
		display: block;
		height: 35px;
		font-weight: bold;

		&:before {
			content: '';
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 0 30px 30px 0;
			border-color: transparent $pink transparent transparent;
			display: inline-block;
			margin-right: 10px;
		}
	}
}
@mixin blockquote-override($color-text, $color-bg) {
	blockquote {
		color: $color-text;
		background-color: $color-bg;

		small {
			color: $color-bg;
			&:before {
				border-color: transparent $color-bg transparent transparent;
			}
		}
	}
}
