/**
 * Custom Checkboxes and radios - modified from WTF forms – http://wtfforms.com/
 *
 * --------------------------------
 *
 * Checkbox button example HTML
 *
 *	 <label class="control control--custom control--checkbox">
 *		<input type="checkbox" name="myCheckbox" />
 *		<span class="control-indicator"></span>
 *		My Checkbox Label Text
 *	</label>
 *
 * -------------------------------
 *
 * Radio button example HTML
 *
 *	<label class="control control--custom control--radio">
 *		<input type="radio" id="radio1" name="myRadioBtn" />
 *		<span class="control-indicator"></span>
 *		My Radio Button Label Text
 * 	</label>
 *
 * ================================= */

.control-indicator {
	position: absolute;
	top: .25em;
	left: 0;
	display: block;
	width:  19px;
	height: 19px;
	line-height: 1;
	color: #eee;
	text-align: center;
	background-color: #ddd;
	background-size: 50% 50%;
	background-position: center center;
	background-repeat: no-repeat;
	user-select: none;
}

.control--custom {
	position: relative;
	display: block;
	padding-left: 2em;
	margin-left: 0;
	color: #555;
	cursor: pointer;

	input {
		position: absolute;
		opacity: 0;
		z-index: -1; /* Put the input behind the label so it doesn't overlay text */
	}

	/* Focus */
	input:focus ~ .control-indicator {
		box-shadow: 0 0 0 .075em #fff, 0 0 0 .2em lighten($gray, 5%);
	}

	/* Checked state */
	input:checked ~ .control-indicator {
		color: #fff;
		background-color: lighten($gray, 5%);
	}

	/* Active */
	input:active ~ .control-indicator {
		color: #fff;
		background-color: lighten($gray, 20%);
	}
}

/* Checkbox modifiers */
.control--checkbox .control-indicator {
	border-radius: 25%;
}

.control--checkbox input:checked ~ .control-indicator {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
}

/* Radio modifiers */
.control--radio .control-indicator {
	border-radius: 50%;
}

.control--radio input:checked ~ .control-indicator {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
}


/**
 * Custom file input
 */
.form-input--fileWrapper--styled {
	position: relative;
	overflow: hidden;

	&:before {
		content: 'Choose file...';
	}

	&:after {
		content: 'Browse';
		cursor: pointer;

		display: inline-block;
		position: absolute;
		top: 0;
		right: -1px;
		bottom: 0;

		padding: .44em 1em 0;

		background-color: lighten($input-border, 5%);
	}

	.form-input-file {
		opacity: 0;
		position: absolute;
	}
}

/**
 * Custom select element
 * http://jsbin.com/juvixufu/165/edit
 */
.form-input--selectWrapper {
	position: relative;
	display: block;
	padding: 0;
}

/* This is the native select, we're making everything the text invisible so we can see the button styles in the wrapper */
.form-input--selectWrapper select {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	margin: 0;
	background: none;
	border: 0;
	outline: none;
	/* Remove select styling */
	appearance: none;
	-webkit-appearance: none;
	/* Magic font size number to prevent iOS text zoom */
	// font-size:16px;
	padding: .5em;
	height: 2.3em;
	line-height: 1;
}

/* This hides native dropdown button arrow in IE 10/11+ so it will have the custom appearance, IE 9 and earlier get a native select */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	 .form-input--selectWrapper select::-ms-expand {
		display: none;
	}
}

/* Custom arrow sits on top of the select - could be an image, SVG, icon font, etc. or the arrow could just baked into the bg image on the select */
.form-input--selectWrapper:after {
	background: none;
	color: #bbb;
	content: "\25BC";
	font-size: .7em;
	padding: 0;
	position: absolute;
	right: 1.2em;
	top: 50%;
	margin-top: -9px;
	z-index: 2;

	/* These hacks make the select behind the arrow clickable in some browsers */
	pointer-events: none;
	background: url(#);
}

/* This selector targets Firefox only with the trick of making the select 110% but clipped by the container at 100% to hide the arrow. We have to do this because getting rid of select appearance isn't supported consistently */
.form-input--selectWrapper,
x:-moz-any-link,
x:default {
	overflow: hidden;
	width: 100%;
}

.form-input--selectWrapper select,
x:-moz-any-link,
x:default {
	width: 110%;
	max-width: 110%;
	min-width: 110%;
	/* A zero right padding is needed or the native arrow can show up. Downside is the text will run over the arrow */
	padding: .6em 0 .5em .8em;
	/* Window is a Firefox way of hiding the arrow, sometimes works */
	-moz-appearance: window;
	text-indent: .01px;
	text-overflow: "";
}

/* Focus style - TODO: Fix in FF */
// select:focus {
// 	outline:none;
// 	box-shadow: 0 0 1px 3px rgba(180,222,250, 1);
// 	background-color:transparent;
// 	color: #222;
// 	border:1px solid #aaa;
// }

/* Removes the odd blue bg color behind the text in IE 10/11 and sets the text to match the focus style text */
.form-input--selectWrapper:focus::-ms-value {
	background: transparent;
	color: #222;
}

/* Firefox focus has odd artifacts around the text, this kills that */
.form-input--selectWrapper:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

option {
	font-weight: normal;
}
