/* ==========================================================================
   Forms
   * Generic form styles
   * Form inputs and groups
   * Form field feedback states
   * Horizontal & vertical forms
   * Horizontal-specific styles
   ========================================================================== */


/* ==========================================================================
   Generic form styles
   * Demo: http://tmwagency.github.io/kickoff/demos/forms.html#layout-example-labels-above
   * Code: https://gist.github.com/mrmartineau/6712577#file-labels-above-inputs-html
   Usage:
    <div>
    	<div class="form-controlGroup">
    		<label for="name" class="form-label">Name</label>
    		<div class="form-controlGroup-inputWrapper">
    			<input type="text" id="name" placeholder="Zander Martineau" class="form-input"/>
    		</div>
    	</div>
    </div>
   ========================================================================== */
.form {
	margin: 0 0 ($base-line-height + px);
}

/* Fieldset */
.form-fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

/* ==========================================================================
   Form inputs and groups
   ========================================================================== */
.form-controlGroup {
	margin-top: ($base-line-height / 2 + px);
	margin-bottom: 9px;
	list-style-type: none;

	// Legend collapses margin, so next element is responsible for spacing
	.form-legend + & {
		margin-top: $base-line-height + px;
		-webkit-margin-top-collapse: separate;
	}
}


// Identify controls by their labels
.form-label {
	display: block;
	margin-bottom: 5px;
	color: $label-color;
	font-weight: bold;

	& small {
		font-weight: normal;
		color: lighten($label-color, 30%);
	}
}


// Move the options list down to align with labels
.form-input {
	display: block;
	width: 100%;
	height: 2.5em;
	padding: 0.5em;

	@include font-size($base-font-size);
	font-family: $base-font-family;
	line-height: $base-leading;
	color: $input-color;
	font-weight: normal;
	vertical-align: baseline;

	background-color: $input-background;
	border: 2px solid $input-border;
	border-radius: 5px;

	transition: border 200ms ease-in-out;

	&:focus {
		border-color: darken($input-border, 20%);
		outline: 0;
		outline: thin dotted \9; // IE6-9
	}


	&[type="image"],
	&[type="checkbox"],
	&[type="radio"],
	&[type="range"] {
		width: auto;
		height: auto;
		padding: 0;
		margin: 3px 0;
		line-height: normal;
		cursor: pointer;
		border-radius: 0;
		@include box-sizing(border-box);
		// border: 0 \9; // IE9 and down
	}

	&[type="image"] {
		border: 0;
	}

	// Reset the file input to browser defaults
	&[type="file"] {
		width: auto;
		height: 28px;
		padding: initial;
		line-height: initial;
		border: initial;
		background-color: $input-background;
		background-color: initial;
	}

	// Remove shadow from image inputs
	&[type="image"],
	&[type="range"],
	&[type="range"]:focus {
	}

	// Hidden inputs
	&[type="hidden"] {
		display: none;
	}

	&[type="color"] {
		width: 40px;
		height: 40px;
		overflow: hidden;
		padding: 2px;
	}

	&[type="password"] {
		font-family: sans-serif;
	}

	&[type="range"] {
		width: 100%;
	}

	& > .radio:first-child,
	& > .checkbox:first-child {
		padding-top: 5px; // has to be padding because margin collapses
	}

	// Disabled State
	&[disabled],
	&[readonly] {
		background-color: darken($input-background, 10%);
		border-color: $input-border;
		cursor: not-allowed;
	}

	// HTML5 invalid states
	// Shares styles with the .form--control-group.error above
	&:focus:required:invalid {
		color: #b94a48;
		border-color: #ee5f5b;

		&:focus {
			border-color: darken(#ee5f5b, 10%);
		}
	}
}

.form-input--textarea {
	height: auto;
	resize: vertical;
}
.form-input--textarea--uneditable {
	width: auto;
	height: auto;
}

// Set the height of select and file controls to match text inputs
.form-input--select {
	// Chrome on Linux and Mobile Safari need background-color
	background-color: $input-background;

	// Make multiple select elements height not fixed
	&[multiple],
	&[size] {
		height: auto;
	}

}

.form-input--fileWrapper {
}
.form-input-file {
	display: inline-block;
	width: 100%;
	@include font-size($base-font-size);
	margin: 0;
	vertical-align: middle;
	line-height: 1em;

	&:focus {
		outline: none;
	}
}

.form-input--fileWrapper--styled {
	position: relative;
	overflow: hidden;

	&::before {
		content: 'Choose file...';
	}
	&::after {
		content:'Browse';
		cursor: pointer;

		display: inline-block;
		position: absolute;
		top: 0;
		right: -1px;
		bottom: 0;

		padding: 0.44em 1em 0;

		background-color: lighten($input-border, 5%);
	}

.form-input-file {
	opacity: 0;
	position: absolute;
}
}


/* ==========================================================================
   Unedited code below here
   ========================================================================== */
// Help out input buttons
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	width: auto;
	cursor: pointer;
	-webkit-appearance: button;
}


// Groups of fields with labels on top (legends)
.form-legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: $base-line-height + px;
	@include font-size($base-font-size * 1.5);
	line-height: $base-leading;
	color: $label-color;
	border: 0;
	border-bottom: 1px solid #eee;
	white-space: normal;

	// Small
	& small {
		@include font-size($base-font-size * .75);
		color: lighten(#000, 70%);
	}
}

/*
	Checkboxes & Radios

	Checkboxes:
	<label class="control">
		<input type="checkbox" value="check1">
		This is a checkbox
	</label>
	<label class="control control--inline">
		<input type="checkbox" value="check1">
		This is a checkbox
	</label>

	Radios:
	<label class="control">
		<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
		This is a radio
	</label>
	<label class="control control--inline">
		<input type="radio" name="optionsRadios" id="optionsRadios1" value="option2" checked>
		This is a radio
	</label>
   ========================================================================== */
.control {
	display: block;

	input[type="radio"],
	input[type="checkbox"] {
		vertical-align: middle;
		margin-right: 0.5em;
		margin-top: -0.1em;
		display: inline;
		line-height: normal;
	}
}
// Radios and checkboxes on same line
.control--inline {
	display: inline-block;
	vertical-align: middle;
}

.control--inline + .control--inline {
	margin-left: 1.5em;
}


/*
   Search input
   ========================================================================== */
.form-input--search {
	padding-left: 14px;
	padding-right: 14px;
	margin-bottom: 0;
	border-radius: 100px;
}


/*
   Form actions
   ========================================================================== */
.form-actions {
	padding: ($base-line-height - 1 + px) 20px ($base-line-height + px);
	margin-top: $base-line-height + px;
	margin-bottom: $base-line-height + px;
	background-color: $form-actions-background;
	border-top: 1px solid #ddd;
	@include clearfix(); // Adding clearfix to allow for .pull-right button containers

	& .btn {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}



/*
   Form field feedback states
   ========================================================================== */
// Warning
.form-controlGroup--warning {
	@include formFieldState($color-warning);
}

// Error
.form-controlGroup--error {
	@include formFieldState($color-error);
}

// Success
.form-controlGroup--success {
	@include formFieldState($color-success);
}


/*
   Placeholder text
   * Gets special styles; can't be bundled together though for some reason
   ========================================================================== */
@include placeholder($placeholder-text);



// HELP TEXT
// ---------
.form-helpBlock,
.form-helpInline {
	color: $gray; // lighten the text some for contrast
}

.form-helpBlock {
	display: block; // account for any element using help-block
	margin-bottom: $base-line-height / 2 + px;
}

.form-helpInline {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
}

// === <$breakpoint-single-col ===
@include respond-min($breakpoint-single-col) {
	/* ==========================================================================
	   Horizontal-specific styles
	   * add .form--horizontal to the <form> element
	   * Demo: http://tmwagency.github.io/kickoff/demos/forms.html#layout-example-labels-inline
	   * Code: https://gist.github.com/mrmartineau/6712577#file-labels-inline-html
	   ========================================================================== */
	.form--horizontal {
		// Increase spacing between groups
		& .form-controlGroup {
			margin-bottom: $base-line-height + px;
			@include clearfix;
		}

		// Float the labels left
		& .form-label {
			float: left;
			width: 140px;
			padding-top: 5px;
			text-align: right;
		}

		// Move over all input controls and content
		& .form-controlGroup-inputWrapper {
			margin-left: 160px;

			&:first-child {
				*padding-left: 160px;
			}
		}

		& .form-controlGroup .form-input--fileWrapper {
			margin-left: 0;
		}

		// Remove bottom margin on block level help text since that's accounted for on .form--control-group
		& .form-helpBlock {
			margin-top: $base-line-height / 2 + px;
			margin-bottom: 0;
		}

		// Move over buttons in .form-actions to align with .form-controlGroup-inputWrapper
		& .form-actions {
			padding-left: 160px;
		}
	}
}
// === end <$breakpoint-single-col ===
