/**
 * Tables
 */


// BASE TABLES
// -----------------

table {
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: $table-bg;
}

.table {
	width: 100%;
	margin-bottom: $base-line-height + px;

	// Cells
	& th,
	& td {
		padding: 8px;
		line-height: $base-leading;
		text-align: left;
		vertical-align: top;
		border-top: 1px solid $table-border;
	}
	& th,
	& tfoot td {
		font-weight: bold;
	}
	// Bottom align for column headings
	& thead th {
		vertical-align: bottom;
	}
	// Remove top border from thead by default
	& caption + thead,
	& colgroup + thead,
	& thead:first-child {
		& tr:first-child th,
		& tr:first-child td {
			border-top: 0;
		}
	}
	// Account for multiple tbody instances
	& tbody + tbody {
		border-top: 2px solid $table-border;
	}
}



// CONDENSED TABLE W/ HALF PADDING
// -------------------------------

.table--condensed {
	& th,
	& td {
		padding: 4px 5px;
	}
}


// BORDERED VERSION
// ----------------

.table--bordered {
	border: 1px solid $table-border;
	border-left: 0;
	border-collapse: separate; // Done so we can round those corners!
	border-radius: 4px;
	& th,
	& td {
		border-left: 1px solid $table-border;
	}
	// Prevent a double border
	& caption + thead tr:first-child th,
	& caption + tbody tr:first-child th,
	& caption + tbody tr:first-child td,
	& colgroup + thead tr:first-child th,
	& colgroup + tbody tr:first-child th,
	& colgroup + tbody tr:first-child td,
	& thead:first-child tr:first-child th,
	& tbody:first-child tr:first-child th,
	& tbody:first-child tr:first-child td {
		border-top: 0;
	}
	// For first th or td in the first row in the first thead or tbody
	& thead:first-child tr:first-child th:first-child,
	& tbody:first-child tr:first-child td:first-child {
		border-radius: 4px 0 0 0;
	}
	& thead:first-child tr:first-child th:last-child,
	& tbody:first-child tr:first-child td:last-child {
		border-radius: 0 4px 0 0;
	}
	// For first th or td in the first row in the first thead or tbody
	& thead:last-child tr:last-child th:first-child,
	& tbody:last-child tr:last-child td:first-child {
		border-radius: 0 0 0 4px;
	}
	& thead:last-child tr:last-child th:last-child,
	& tbody:last-child tr:last-child td:last-child {
		border-radius: 0 0 4px 0;
	}
}


// ZEBRA-STRIPING
// --------------

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table--striped {
	& tbody {
		& tr:nth-child(odd) {
			& td,
			& th {
				background-color: $table-bg-accent;
			}
		}
	}
}


// HOVER EFFECT
// ------------
// Placed here since it has to come after the potential zebra striping
.table {
	& tbody tr:hover {
		& td,
		& th {
			background-color: $table-bg-hover;
		}
	}
}
