/**
 * Tables
 * =================================
 * Index:
 * - Associated Table Variables
 * - Default table Styles
 * – Table modifiers:
 *   - .table--condensed
 *   - .table--bordered
 *   - .table--rounded
 *   - .table--striped
 *   – .table--hover
 * – .tableResponsive
 */

/**
 * Define associated Table variables
 */
$table-bgColor                : $color-bg !default; // Default background color used for all tables.
$table-bgColor--accent        : #f9f9f9 !default; // Background color used for `.table-striped`.
$table-bgColor--hover         : #f5f5f5 !default; // Background color used for `.table-hover`.
$table-bgColor--active        : $table-bgColor--hover !default;
$table-borderColor           : #ddd !default; // Border color for table and cell borders.

/**
 * Customizes the `.table` component with basic values, each used across all table variations.
 */
$table-cell-padding           : 8px !default; // Padding for `<th>`s and `<td>`s.
$table-condensed-cell-padding : 5px !default; // Padding for cells in `.table-condensed`.


/**
 * Default Table styles
 **/

table {
	background-color: $table-bgColor;
}
th {
	text-align: left;
}


// Baseline styles
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: $baseline;
	border-padding: 0;
	border-spacing: 0;

	// Cells
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				padding: $table-cell-padding;
				line-height: $baseline;
				vertical-align: top;
				border-top: 1px solid $table-borderColor;
			}
		}
	}

	// Bottom align for column headings
	> thead > tr > th,
	> thead > tr > td {
		vertical-align: bottom;
		border-bottom: 2px solid $table-borderColor;
	}

	> tfoot > tr > td {
		border-top: 3px solid $table-borderColor;
	}

	// Remove top border from thead by default
	> caption + thead,
	> colgroup + thead,
	> thead:first-child {
		> tr:first-child {
			> th,
			> td {
				border-top: 0;
			}
		}
	}
	// Account for multiple tbody instances
	> tbody + tbody {
		border-top: 2px solid $table-borderColor;
	}

	// Nesting
	.table {
		background-color: $color-bg;
	}
}


// Condensed table w/ half padding
.table--condensed {
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				padding: $table-condensed-cell-padding;
			}
		}
	}
}

/**
 * Bordered version
 * Add borders all around the table and between all the columns.
 */
.table--bordered {
	border: 2px solid $table-borderColor;
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				border: 1px solid $table-borderColor;
			}
		}
	}
	> thead > tr {
		> th,
		> td {
			border-bottom-width: 2px;
		}
	}
	> tfoot > tr {
		> th,
		> td {
			border-top-width: 2px;
		}
	}
}

/**
 * Rounded version
 */
.table--rounded {
	border-radius: 10px;

	&.table--bordered {
		> thead,
		> tbody,
		> tfoot {
			> tr {
				> th:first-child,
				> td:first-child {
					border-left: 0;
				}
				> th:last-child,
				> td:last-child {
					border-right: 0;
				}
			}
		}
		> tfoot > tr {
			> th,
			> td {
				border-bottom: none;
			}
		}
	}
}

/**
 * Zebra-striping
 * Default zebra-stripe styles (alternating gray and transparent backgrounds)
 */
.table--striped {
	> tbody > tr:nth-child(odd) {
		> td,
		> th {
			background-color: $table-bgColor--accent;
		}
	}
}

/**
 * Hover effect
 */
.table--hover {
	> tbody > tr:hover {
		> td,
		> th {
			background-color: $table-bgColor--hover;
		}
	}
}

/**
 * Table cell sizing
 * Reset default table behavior
 */
table col[class*="col-"] {
	position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
	float: none;
	display: table-column;
}
table {
	td,
	th {
		&[class*="col-"] {
			position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
			float: none;
			display: table-cell;
		}
	}
}

/**
 * Responsive tables
 * Wrap your tables in `.tableResponsive` and we'll make them mobile friendly by enabling horizontal scrolling. Only applies <768px. Everything above that will display normally.
 *
 * If you need more responsive tables, consider Tablesaw by the Filament Group:
 * https://github.com/filamentgroup/tablesaw
 */
.tableResponsive {
	@include respond-max($bp-single-col) {
		width: 100%;
		margin-bottom: ($line-height-base * 0.75) + px;
		overflow-y: hidden;
		overflow-x: auto;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid $table-borderColor;
		-webkit-overflow-scrolling: touch;

		// Tighten up spacing
		> .table {
			margin-bottom: 0;

			// Ensure the content doesn't wrap
			> thead,
			> tbody,
			> tfoot {
				> tr {
					> th,
					> td {
						white-space: nowrap;
					}
				}
			}
		}

		// Special overrides for the bordered tables
		> .table-bordered {
			border: 0;

			// Nuke the appropriate borders so that the parent can handle them
			> thead,
			> tbody,
			> tfoot {
				> tr {
					> th:first-child,
					> td:first-child {
						border-left: 0;
					}
					> th:last-child,
					> td:last-child {
						border-right: 0;
					}
				}
			}

			// Only nuke the last row's bottom-border in `tbody` and `tfoot` since
			// chances are there will be only one `tr` in a `thead` and that would
			// remove the border altogether.
			> tbody,
			> tfoot {
				> tr:last-child {
					> th,
					> td {
						border-bottom: 0;
					}
				}
			}

		}
	}
}

