/**
 * Kickoff grid helpers
 */

@mixin gridSpanHelper($breakpoint: null) {
	$suffix: null;

	@if $breakpoint {
		$suffix: '--' + #{$breakpoint};
	}

	@for $i from 1 to $grid-column-count + 1 {
		// gutter calculations, one for usual guttering, the other for legacy .no-flexbox support
		$col-width-noGutter: gridColumnWidthCalc($i, true);
		$col-width-guttered: gridColumnWidthCalc($i, true, true);

		.g-span#{$i}#{$suffix} {
			flex-basis: $col-width-noGutter !important;
			flex-grow: 0;

			// maybe have an option to include this in a variable
			&.g-holdWidth#{$suffix} {
				@include pixelMinWidth($i);
			}

			.g--gutter & {
				// need this next line for a weird IE9/10/11 bug, where adding padding to a flex-item can throw out the flex-basis and wrap the columns incorrectly
				// see this for more detail – https://github.com/philipwalton/flexbugs/issues/3
				max-width: $col-width-noGutter;

				padding-left: $grid-gutter-width + px;
			}
			.g--gutter--scaled & {
				flex-basis: $col-width-guttered !important;
				// need this next line for a weird IE9/10/11 bug, where adding padding to a flex-item can throw out the flex-basis and wrap the columns incorrectly
				// see this for more detail – https://github.com/philipwalton/flexbugs/issues/3
				max-width: $col-width-guttered;

				margin-left: gutterCalc();
			}

			@if $use-legacy-grid {

				// used in combination with modernizr or another detection mechanism
				.no-flexbox & {
					width: gridColumnWidthCalc($i, true) !important;

						/**
					 * Clear incase of height difference of block items.
					 * Note: Remove these if all your items are the same height.
					 */
					// &:nth-of-type(#{$i}n + 1) {
					//     clear: left;
					// }

					// &:not(:nth-of-type(#{$i}n + 1)) {
					//     clear: none;
					// }
				}

			}
			// @if $use-legacy-grid

		}
	}
}

/**
 * Grid stacking
 * Stack grids based on a given breakpoint
 *
 * Usage:
 * .g--stack--narrow
 * .g--stack--wide
 */
@mixin grid-stack($breakpoint: $bp-wide) {
	@include respond-max($breakpoint) {
		flex-flow: column nowrap;

		@if $use-legacy-grid {
			& > .g-col {
				width: 100% !important;
			}
		}
	}
}

/**
 * Gutter Calculations
 * Default: percent
 * Usage: gutterCalc() or gutterCalc(false)
 * When show-unit is true, returns the percentage, otherwise return a decimal
 */
@function gutterCalc($show-unit: true) {
	@if $show-unit == true {
		@return percentage($grid-gutter-width / ($layout-max-width - ($layout-margin * 2)));
	} @else {
		@return $grid-gutter-width / ($layout-max-width - ($layout-margin * 2));
	}
}



/**
 * Grid columns width calculations
 * This is where the magic of working out the column widths happens
 *
 * $column-span: define the width for the number of columns required
 * $show-unit: Switch return value between percentage (default) and decimal
 * $include-gutters: if gutters should be included in the calculations. Default = false
 * $legacy-calc: if we are working out a legacy column width calculation, or not. Default = false
 */
@function gridColumnWidthCalc($column-span: 1, $show-unit: true, $include-gutters: false) {
	$number-of-blocks-in-container : $grid-column-count / $column-span;
	$total-width-of-all-blocks     : 1;

	// when including gutters, we need to adjust our % width or flex-basis appropriately
	@if $include-gutters {
		$total-width-of-all-gutters    : gutterCalc(false) * ($number-of-blocks-in-container - 1);
		$total-width-of-all-blocks     : 1 - $total-width-of-all-gutters;
	}

	$width-of-a-single-block       : $total-width-of-all-blocks / $number-of-blocks-in-container;

	@if $show-unit == true {
		@return percentage($width-of-a-single-block);
	} @else {
		@return $width-of-a-single-block;
	}
}

@mixin pixelMinWidth($column-span: 1) {
	min-width: ($layout-max-width * gridColumnWidthCalc($column-span, false)) + px;
}


/**
 * Column width mixin
 * Usage:
 * @include column(2);
 */
@mixin column($column-span: 1) {
	width: gridColumnWidthCalc($column-span, true);
}
