/**
 *  HiDPI mixin.
 *  @include hidpi-min() { ... };
 *  Default value set to 1.3 to target Google Nexus 7 (http://bjango.com/articles/min-device-pixel-ratio/)
 */
@mixin hidpi($ratio: 1.5) {
	@media only screen and (-webkit-min-device-pixel-ratio: $ratio),
	only screen and (min--moz-device-pixel-ratio: $ratio),
	only screen and (-o-min-device-pixel-ratio: #{$ratio}/1),
	only screen and (min-resolution: #{round($ratio*96)}dpi),
	only screen and (min-resolution: #{$ratio}dppx) {
		@content;
	}
}

/**
 * Hidpi with a minimum width media query
 * @include hidpi-min($bp-mid, 1.5) { ... };
 */
@mixin hidpi-min($width, $ratio: 1.5) {
	$width-em: em($width);
	@media only screen and (min-width: $width-em) and (-webkit-min-device-pixel-ratio: $ratio),
	only screen and (min-width: $width-em) and (min--moz-device-pixel-ratio: $ratio),
	only screen and (min-width: $width-em) and (-o-min-device-pixel-ratio: #{$ratio}/1),
	only screen and (min-width: $width-em) and (min-resolution: #{round($ratio*96)}dpi),
	only screen and (min-width: $width-em) and (min-resolution: #{$ratio}dppx) {
		@content;
	}
}


/**
 * Hidpi with a max width media query
 * @include hidpi-max($bp-mid, 1.3) { ... };
 */
@mixin hidpi-max($width, $ratio: 1.3) {
	$width-em: em($width);
	@media only screen and (max-width: $width-em) and (-webkit-min-device-pixel-ratio: $ratio),
	only screen and (max-width: $width-em) and (min--moz-device-pixel-ratio: $ratio),
	only screen and (max-width: $width-em) and (-o-min-device-pixel-ratio: #{$ratio}/1),
	only screen and (max-width: $width-em) and (min-resolution: #{round($ratio*96)}dpi),
	only screen and (max-width: $width-em) and (min-resolution: #{$ratio}dppx) {
		@content;
	}
}
