// ==========================================================================
// Linear Gradient
// Usage: @include linear-gradient(#000, #BADA55, horizontal, true);
// ==========================================================================
@mixin linear-gradient($fromColor, $toColor, $direction: vertical, $ie: false) {
	@warn "DEPRECATION: If you are using autoprefixer there is no need for this mixin, this will be removed in the next version of Kickoff.";
	// Set default vars for vertical gradient
	$from      : top;
	$to        : bottom;
	$fallback1 : left top;
	$fallback2 : left bottom;
	$type      : 1;

	@if $direction == horizontal {
		$from      : left;
		$to        : right;
		$fallback1 : left top;
		$fallback2 : left bottom;
		$type      : 0;
	}
	background-color: $toColor; // Fallback Color
	background-image: -webkit-gradient(linear, $fallback1, $fallback2, from($fromColor), to($toColor)); // Saf4+, Chrome
	background-image: -webkit-linear-gradient($from, $fromColor 0%, $toColor 100%); // Chrome 10+, Saf5.1+, iOS 5+
	background-image:    -moz-linear-gradient($from, $fromColor 0%, $toColor 100%); // FF3.6
	background-image:     -ms-linear-gradient($from, $fromColor 0%, $toColor 100%); // IE10
	background-image:      -o-linear-gradient($from, $fromColor 0%, $toColor 100%); // Opera 11.10+
	background-image:         linear-gradient(to $to, $fromColor 0%, $toColor 100%); // Spec
	@if $ie == true {
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}',GradientType=#{$type});
	}
}
