/**
 * bemify [modified for Kickoff]
 * https://gtihub.com/franzheidl/bemify
 * Franz Heidl 2015
 *
 * Usage: https://gist.github.com/mrmartineau/0cd2010bf265d712bafbhttps://gist.github.com/mrmartineau/0cd2010bf265d712bafb
 */



// CONFIG
// ======

// Output combined state selectors like:
//    .block-element.is-active {}
// Set to false to output single, non-combined state modifiers:
//    .block-element--is-active {}
$combined-state-selectors: true;

// .block[separator]element:
$element-separator: "-";

// .block[separator]modifier:
$modifier-separator: "--";

// The default prefix for state modifier selectors, will be combined with $modifier-separator:
$state-prefix: "is";




// Mixins
// @include block('form') {}
@mixin block($name) {
	.#{$name} {
		@content;
	}
}

// @include element('item') {}
@mixin element($name) {
	@at-root {
		&#{$element-separator}#{$name} {
			@content;
		}
	}
}

// @include modifier('stacked') {}
@mixin modifier($name) {
	@at-root {
		&#{$modifier-separator}#{$name} {
			@content;
		}
	}
}

// @include state('active') {}
// @include state('nav', 'has') {}
@mixin state($state, $prefix: $state-prefix) {
	@if $combined-state-selectors == true {
		@at-root {
			&.#{$prefix}-#{$state} {
				@content;
			}
		}
	}
	@else {
		@at-root {
			&#{$modifier-separator}#{$prefix}-#{$state} {
				@content;
			}
		}
	}
}




// Aliases
// @include component('form') {}
@mixin component($name) {
	@include block($name) {
		@content;
	}
}

// @include child('item') {}
@mixin child($name) {
	@include element($name) {
		@content;
	}
}

// @include subcomponent('item') {}
@mixin subcomponent($name) {
	@include element($name) {
		@content;
	}
}

// @include sub('item') {}
@mixin sub($name) {
	@include element($name) {
		@content;
	}
}
