// ==========================================================================
// Radial Gradient
// Usage: @include radial-gradient(#000, #BADA55, true);
// ==========================================================================
@mixin radial-gradient($fromColor, $toColor, $ie: false) {
	@warn "DEPRECATION: If you are using autoprefixer there is no need for this mixin, this will be removed in the next version of Kickoff.";

	background-color: $toColor; // Fallback Color
	background-image: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop($fromColor), color-stop($toColor)); // Saf4+, Chrome
	background-image: -webkit-radial-gradient(center, ellipse cover, $fromColor 0%, $toColor 100%); // Chrome 10+, Saf5.1+, iOS 5+
	background-image:    -moz-radial-gradient(center, ellipse cover, $fromColor 0%, $toColor 100%); // FF3.6
	background-image:     -ms-radial-gradient(center, ellipse cover, $fromColor 0%, $toColor 100%); // IE10
	background-image:      -o-radial-gradient(center, ellipse cover, $fromColor 0%, $toColor 100%); // Opera 11.10+
	background-image:         radial-gradient(ellipse at center, $fromColor 0%, $toColor 100%); // Spec
	@if $ie == true {
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}',GradientType=1);
	}
}
