// ==========================================================================
// vertical-center
// Vertically center any element. Needs support for CSS tranforms.
// Usage:
// @include vertical-center;
// ==========================================================================
@mixin vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
