/**
 * Colour swatches
 */
.sg-swatch {
	border: 1px solid rgba(ko-color(dark), 0.2);
	border-radius: 4px;
	padding: 15px;
	margin: 15px;
	text-align: center;
	transition: $default-transition;
	cursor: pointer;

	&:hover {
		border-color: rgba(ko-color(dark), 0.6);
	}

	&.is-active {
		animation: sgSwatch 500ms ease-in-out;
	}
}

@keyframes sgSwatch {
	50% { opacity: .3; }
}

.sg-swatch-color {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}

.sg-swatch-text {
	font-weight: bold;
	@include ko-font-size(60);
	line-height: 1;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}

.sg-swatch-var {
	width: 100%;
	font-family: ko-font(mono);
	margin-top: 15px;
	font-size: 12px;
	display: block;
}

@mixin ko-swatch($color, $bg: #fff) {
	background-color: $bg;

	.sg-swatch-color {
		background-color: $color;
	}

	.sg-swatch-text {
		color: $color;
	}

	.sg-swatch-var {
		&:after {
			content: '#{$color}';
			display: block;
		}
	}
}

.sg-color-bright {
	@include ko-swatch(ko-color(bright));
}

.sg-color-dark {
	@include ko-swatch(ko-color(dark));
}

.sg-color-primary {
	@include ko-swatch(ko-color(primary));
}
.sg-color-secondary {
	@include ko-swatch(ko-color(secondary));
}
.sg-color-text {
	@include ko-swatch(ko-color(text));
}
.sg-color-background {
	@include ko-swatch(ko-color(background));
}
.sg-color-link {
	@include ko-swatch(ko-color(link));
}
.sg-color-link-over {
	@include ko-swatch(ko-color(link, over));
}
