/**
 * Links
 * =================================
 */

a {
	transition: $default-transition;

	&,
	&:link,
	&:visited {
		color: ko-color(link);
		text-decoration: none;
	}

	&:hover,
	&:focus {
		color: ko-color(link, over);
	}

	&:active {
		color: ko-color(link, over);
	}
}
