@mixin gradient-bar($primary-color,
                    $secondary-color,
                    $text-color: #fff,
                    $text-shadow: 0 -1px 0 rgba(0,0,0,.25) ) {

	color: $text-color;
	text-shadow: $text-shadow;
	@include gradient-vertical($primary-color, $secondary-color);
	border-color: $secondary-color $secondary-color darken($secondary-color, 15%);
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);

	&:visited {
		color: $text-color;
	}
}

@mixin button-background($start-color,
                         $end-color,
                         $text-color: #fff,
                         $text-shadow: 0 -1px 0 rgba(0,0,0,.25) ) {
	// gradient-bar will set the background to a pleasing blend of these, to support IE<=9
	@include gradient-bar($start-color, $end-color, $text-color, $text-shadow);

	// Darken IE7 buttons by default so they stand out more given they won't have borders
	*background-color: $end-color;
	@extend %reset-filter;

	// in these cases the gradient won't cover the background, so we override
	&:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
		color: $text-color;
		background-color: $end-color;
		*background-color: darken($end-color, 5%);
	}

	// IE 7 + 8 can't handle box-shadow to show active, so we darken a bit ourselves
	&:active,
	&.active {
		background-color: darken($end-color, 10%) \9;
	}
}
