// Mixin for form field states
@mixin formFieldState($color) {
	// Set the text color
	.form-label,
	.help-block,
	.help-inline {
		color: $color;
	}

	.form-input {
		color: $color;
		border-color: $color;
		background-color: lighten($color, 43%);

		&:focus {
			border-color: darken($color, 10%);
		}
	}
}
