$fix-mqs: false !default; //assign false if no value set already

@mixin respond-min($width) {
	$width-em: em($width);

	// If we're outputting for a fixed media query set...
	@if $fix-mqs {
		// ...and if we should apply these rules...
		@if $fix-mqs >= $width-em {
			// ...output the content the user gave us.
			@content;
		}
	}
	@else {
		// Otherwise, output it using a regular media query
		@media screen and (min-width: $width-em) {
			@content;
		}
	}
}
@mixin respond-max($width) {
	$width-em: em($width);

	// If we're outputting for a fixed media query set...
	@if $fix-mqs {
		// ...and if we should apply these rules...
		@if $fix-mqs <= $width-em {
			// ...output the content the user gave us.
			@content;
		}
	}
	@else {
		// Otherwise, output it using a regular media query
		@media screen and (max-width: $width-em) {
			@content;
		}
	}
}
@mixin respond-min-max($min-width, $max-width) {
	$min-width-em: em($min-width);
	$max-width-em: em($max-width);

	// If we're outputting for a fixed media query set...
	@if $fix-mqs {
		// ...and if we should apply these rules...
		@if $fix-mqs >= $min-width-em and $fix-mqs <= $max-width-em {
			// ...output the content the user gave us.
			@content;
		}
	}
	@else {
		// Otherwise, output it using a regular media query
		@media screen and (min-width: $min-width-em) and (max-width: $max-width-em) {
			@content;
		}
	}
}

$old-ie: false !default;

@mixin old-ie {
	// Only use this content if we're dealing with old IE
	@if $old-ie {
		@content;
	}
}
