/**
 * Site dependencies
 * See http://trykickoff.github.io/demos/ for more info
 */

/*
 * Mixins, helpers and functions
 * Most CSS3 vendor prefixed items have a mixin,
 * but we should not need them if autoprefixer is being used
 * See mixins/css3.scss for the full list
 */
@import "functions/functions";
@import "mixins/mixins";

/**
 * Core variables
 * Edit your color palette and app vars before your begin
 */
@import "color-palette";
@import "variables";

/* CSS Reset - Normalize etc */
@import "reset";

/**
 * Global typography styles
 * See http://trykickoff.github.io/demos/typography.html for more info
 */
@import "typography";

/**
 * Components:
 * See http://trykickoff.github.io/demos/components.html for more info
 */
@import "components/forms"; // http://trykickoff.github.io/demos/forms.html
@import "components/forms-custom-radioscheckboxes"; // Custom radio & checkbox inputs
@import "components/forms-custom-select"; // Custom select element
// @import "components/forms-custom-file"; // Custom file input
@import "components/icons";
@import "components/links";
@import "components/buttons";
@import "components/grid"; // http://trykickoff.github.io/docs/grid.html & http://trykickoff.github.io/demos/grids.html
@import "components/block-grids";
@import "components/lists";
@import "components/embedded-content";
@import "components/media-object";
@import "components/fluid-video";
@import "components/tables";
@import "components/code";
@import "components/skip-navigation";
// @import "components/scrollbars";


/**
 * Your app styles
 */
@import "global"; // Global styles
@import "partials/masthead"; // Example partial for masthead
@import "partials/footer"; // Example partial for footer

@import "partials/browser-upgrade"; // Styles to show an upgrade message to users on old browsers


/**
 * Views
 */
//@import "views/home";
//@import "views/contact";


/* Helper/utility classes */
@import "helper-classes";

/* Print styles */
@import "views/print";
