/**
 * Global app/site styles
 * =================================
 */
body {
	background-color: $color-bg;
}

/**
 * Default layout container
 */
.l-container {
	width: 90%;
	max-width: $layout-max-width;
	margin: 0 auto;
}
