/**
 * Variables
 * =================================
 * - Typography
 * - Breakpoints
 * - Layout & Grid
 * - App-specific
 */

/**
 * Typography
 * =================================
 *
 * Base sizes:
 * Set this in pixels (but do not add px),
 * the font-size mixin will convert to REMS
 */
$font-size-base: 20;
$leading-base: 1.4;
$line-height-base: round($font-size-base * $leading-base); // 20 * 1.4
$baseline: $line-height-base * 1px;

$type-scale: 1.25; // 1.25 === Major third. See modularscale.com

/**
 * Type sizes
 * =================================
 * Set using a modular scale by default.
 * Values can be changed to px, rem etc if needed
 *
 * Usage:
 * font-size: ko-font-size(base);
 * font-size: ko-font-size(xl);
 */
$type: (
	xs: ko-ms(-2),
	s: ko-ms(-1),
	base: ko-ms(0), // [default] p, h5, h6
	m: ko-ms(1), // h4
	l: ko-ms(2), // h3
	xl: ko-ms(3), // h2
	xxl: ko-ms(4) // h1
);

/**
 * Font stacks
 * =================================
 *
 * Usage: ko-font(system), ko-font(sans)
 */
$font-family: (
	system: #{-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans"},
	sans: #{"Helvetica Neue", Helvetica, Arial, sans-serif},
	serif: #{Georgia, "Times New Roman", Times, serif},
	mono: #{Menlo, Monaco, "Courier New", monospace}
);

$font-family-base: ko-font(system);
$font-family-headings: ko-font(serif);
$line-height-headings: 1.1;
$font-weight-bold: bold; // Useful to set here when bold webfonts come as 400 font-weight.
$font-weight-headings: bold; // instead of browser default, bold


/**
 * Breakpoints
 * =================================
 * There are no common breakpoints so these are just a suggestions
 * You'll need to define your own breakpoints to suit your design
 * Add your breakpoints to this Sass map
 * Used in the Kickoff grid
 * Usage: ko-bp(100)
 */
$breakpoints: (
	s: 400px,
	m: 750px,
	l: 1000px,
	xl: 1250px
);


// Setup layout max-width
$layout-margin: 0; // [in pixels] Space outside the grid
$layout-max-width: 1000; // [in pixels]
$layout-min-width: 960;  // [in pixels] Minimum width for layout in <IE9
$layout-max-width--huge: 1100; // [in pixels]
$layout-min-width--huge: 1100; // [in pixels] Minimum width for layout in <IE9


/**
 * Grid
 * =================================
 * These variables will control the grid module.
 *
 * If your project doesn't use Kickoff’s default grid, you can delete these
 */
$grid-column-count: 12; // Total column count
$grid-gutter-width: 20; // [in pixels]

// Settings here override & affect the grid classes output
$responsive-grid-sizes: true; // Disable this if you don't want grid sizes for each breakpoint
$use-legacy-grid: false; // Disable this is you on’t want to output .no-flexbox classes for older browsers to use


/**
 * Z-index variables
 * =================================
 *
 * Usage: ko-zIndex(low)
 */
$z-index: (
	low: 10,
	mid: 100,
	high: 1000
);


/**
 * App-specific variables
 * =================================
 */
$default-transition-timing: cubic-bezier(0.77, 0, 0.175, 1);
$default-transition-duration: 300ms;
$default-transition: all $default-transition-duration $default-transition-timing;

$img-path: "/assets/dist/img"; // Usage: background-image: url('#{$img-path}/img.jpg');
// Add your own :)
