/**
 * Kickoff Styleguide
 * =================================
 */
@import "kickoff-utils.scss";

@import "color-palette";
@import "variables";
@import "components/grid/grid";

$styleguide-color-primary: $color-primary;
$styleguide-type: "Helvetica Neue", Helvetica, Arial, sans-serif;

/**
 * Styleguide styles
 * Where possible, prefix all classnames with .sg
 */
body {
	background-color: #fff;
}

/**
 * Styleguide type styles
 */
.sg-interfaceType {
	font-family: $styleguide-type;
	font-weight: 300;
}

.sg-interfaceType--subtle {
	color: #888;
}

.sg-sectionHeading {
	@extend .sg-interfaceType;
	color: $styleguide-color-primary;
}


/**
 * Styleguide navigation style
 */

/**
 * Styleguide .page styles
 */
.sg-page {
	overflow: hidden;
	padding: 8% 0;
}

.sg-page--start {
	background-color: $styleguide-color-primary;
	padding: 70px 0 60px;
	color: #fff;
}

.sg-spacer {
	padding: 20px;
}

.sg-footer {
	background-color: #181830;
	color: #fff;
	padding: 30px;
	margin-top: 30px;

	h1 {
		margin-bottom: .2em;
	}

	a {
		color: #fff;
		border-bottom: 2px dashed rgba(#fff, .3);

		&:hover {
			border-bottom: 2px solid #fff;
		}
	}

	:last-child {
		margin-bottom: 0;
	}
}



/**
 * Colour swatches
 */
.sg-swatch {
	text-align: center;
	line-height: 30px;
	margin: 5px;
	border: 1px solid #f1f1f1;

	code {
		margin: 0 10px;
		display: inline-block;
		padding: 0;
	}
}

.sg-swatch-color {
	height: 80px;
	line-height: 80px;
	@include font-size(13);
	font-family: $font-family-mono;
	font-weight: bold;

	@include respond-min(narrow) {
		height: 120px;
		line-height: 120px;
	}
}

@mixin swatch($color) {
	color: $color;

	.sg-swatch-color {
		background-color: $color;

		@if lightness($color) < 60 {
			color: #fff;
		} @else {
			color: #444;
		}

		@if lightness($color) > 90 {
			border: #f1f1f1 solid 1px;
		}

		&:before {
			content: '#{$color}';
			display: block;
		}
	}
}

.sg-color-link-hover {
	@include swatch($color-link-hover);
}
.sg-color-primary {
	@include swatch($color-primary);
}
.sg-color-secondary {
	@include swatch($color-secondary);
}
.sg-color-highlight {
	@include swatch($color-highlight);
}
.sg-color-text {
	@include swatch($color-text);
}
.sg-color-background {
	@include swatch($color-bg);
}
.sg-color-border {
	@include swatch($color-border);
}
.sg-color-link {
	@include swatch($color-link-default);
}


/**
 * Typography
 */
.sg-type {
	margin-bottom: 1em;
}

code {
	border: 0;
	background-color: transparent;
	@include font-size(11);
}

@mixin sgTypeTest($size) {
	.sg-type-item {
		@include font-size($size);

		&:after {
			content: '@include font-size(#{$size}) / #{type($size)}px';
			@include font-size(micro);
			display: block;
			font-weight: normal;
			font-family: $font-family-mono;
			opacity: .6;
		}
	}

	code {
	}
}


.sg-type-micro {
	@include sgTypeTest(micro);
}
.sg-type-smallest {
	@include sgTypeTest(smallest);
}
.sg-type-smaller {
	@include sgTypeTest(smaller);
}
.sg-type-small {
	@include sgTypeTest(small);
}
.sg-type-base {
	@include sgTypeTest(base);
}
.sg-type-mid {
	@include sgTypeTest(mid);
}
.sg-type-large {
	@include sgTypeTest(large);
}
.sg-type-largest {
	@include sgTypeTest(largest);
}
.sg-type-jumbo {
	@include sgTypeTest(jumbo);
}

.sg-typeSpecimen {
	margin-bottom: 0;
	margin-top: 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;

	&:after {
		display: block;
		@extend .sg-interfaceType;
		@extend .sg-interfaceType--subtle;
		@include font-size(16);
		margin-top: 5px;
		border-top: 1px solid #ddd;
		font-weight: normal;
	}
}

// h1.typeSpecimen:after { content: "Font stack: #{$font-family-headings}"; }
// p.typeSpecimen:after  { content: "Font stack: #{$font-family-base}"; }

.sg-typeSpecimen--primary {
	@include font-size(30);
	font-family: $font-family-base;
}

.sg-typeSpecimen--secondary {
	@include font-size(30);
	font-family: $font-family-alt;
}

.sg-typeSpecimen--giant {
	@include font-size(120);
	line-height: 1;
}


/**
 * Icons
 */
.icon-sg {
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 10px;
}

.sg-favicon {
	padding: 5px;

	img {
		vertical-align: middle;
		margin-right: 15px;
	}
}

.sg-hr {
	height: 3px;
	margin: ($baseline * 2) 0;
}

.sg-hr--subtle {
	height: 3px;
	background-color: fade-out($hr-color, .6)
}

@mixin sgVar($var) {
	line-height: 2;
	font-family: $font-family-mono;
	border-bottom: 1px solid rgba(#000, .1);
	@include font-size(micro);

	strong {
		opacity: .6;
		text-transform: uppercase;
		display: block;
		user-select: none;

		@include respond-min(mid) {
			width: 20%;
			display: inline-block;
		}
	}

	&:after {
		content: '#{$var}';
	}
}

.sg-var-item {
	color: $color-secondary;
	margin-right: 10px;
	display: inline-block;
}

.sg-var--baseFontSize {
	@include sgVar($font-size-base);
}

.sg-var--leadingBase {
	@include sgVar($leading-base);
}

.sg-var--typeScale {
	@include sgVar($type-scale);
}

.sg-var--fontFamilyMono {
	@include sgVar($font-family-mono);
}

.sg-var--fontFamilySans {
	@include sgVar($font-family-sans);
}

.sg-var--fontFamilySerif {
	@include sgVar($font-family-serif);
}

.sg-var--breakpoints {
	@include sgVar($breakpoints);
}

.sg-var--layoutWidth {
	@include sgVar($layout-max-width);
}

.sg-var--gridColumns {
	@include sgVar($grid-column-count);
}

.sg-var--gridGutter {
	@include sgVar($grid-gutter-width);
}

