* {
	-webkit-transition: all 0.12s ease-in-out;
	   -moz-transition: all 0.12s ease-in-out;
		 -o-transition: all 0.12s ease-in-out;
		-ms-transition: all 0.12s ease-in-out;
			transition: all 0.12s ease-in-out;
}
body {
	padding-top: 80px;
}
.col {
	background-color: rgba(0,0,0,0.1);
	line-height: 40px;
	border-radius:4px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	min-height: 30px;
}
.row {
	margin-bottom: 20px;
}
.split div {
	background-color: fadeout(teal, 70%);
}
.shunt {
	background-color: fadeout(red, 80%);
}
[class*="pull"] {
	background-color: fadeout(green, 70%);
}
[class*="push"] {
	background-color: fadeout(yellow, 70%);
}
[class*="offset"] {
	background-color: fadeout(orange, 60%);
}

ul.tabs {
	padding: 0;
	margin: 5px 0 0;
	text-align: center;
}
ul.tabs li {
	display: block;
	padding: 0;
	margin: 3px 0;
}
ul.tabs li a {
	display: block;
	text-decoration: none;
	width: auto;
	padding: 0px 10px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	font-size: .9em;
	color: black;
	font-weight: bold;
}
ul.tabs li a.active,
ul.tabs li a:hover {
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
}
ul.tabs_content {
	margin: 1.5em 0 0 0;
	padding: 0;
	list-style-type: none;
}
ul.tabs_content li {
	margin: 0;
	padding: 0;
	display: none;
}
ul.tabs_content li.active {
	display: block;
}
/*=== 768> ===*/
@media screen and (min-width: 768px) {
	ul.tabs li {
		display: inline-block;
		margin: 0;
	}
	ul.tabs li a {
		display: block;
		border-radius: 50px;
		color: black;
	}
}