/**
 * Embedded content
 */

img {
	font-style: italic;
	color: #c00;
	border: 0;
	-ms-interpolation-mode: bicubic;

	&.img--left {
		margin: 0 20px 0 0;
	}

	&.img--right {
		margin: 0 0 0 20px;
	}
}

svg {
    fill: currentColor;
}

// Images, Flash & video
img, object, embed, video {
	max-width: 100%;
}

/**
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}
