/**
 * Custom Checkboxes and radios
 *
 * IE9+ :)
 *
 * --------------------------------
 *
 * Checkbox button example HTML
 *
 *	<label class="control control--custom">
 *		<input class="control--custom-input" type="checkbox" name="myCheckbox" />
 *		<span class="control-indicator control-indicator--checkbox"></span>
 *		My Checkbox Label Text
 *	</label>
 *
 * -------------------------------
 *
 * Radio button example HTML
 *
 *	<label class="control control--custom">
 *		<input class="control--custom-input" type="radio" id="radio1" name="myRadioBtn" />
 *		<span class="control-indicator control-indicator--radio"></span>
 *		My Radio Button Label Text
 * 	</label>
 *
 * ================================= */
$custom-input-border      : #A3B1B2;
$custom-input-bg          : $custom-input-border;
$custom-input-selected    : $color-bg;
$checkbox-indicator-width : .1em;

.control--custom {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

// Give inline elements some space to the right
.control--custom--inline {
	display: inline-block;
	padding-right: 2em;
}

// The hidden input
.control--custom-input {
	position: absolute;
	opacity: 0;
	z-index: -1; // Put the input behind the label so it doesn't overlay text
}

// The new checkbox/radio
.control-indicator {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	transition: $default-transition;
	border: $checkbox-indicator-width solid $custom-input-border;
	background-color: $custom-input-bg;
	vertical-align: middle;
	margin-top: -.1em;
	box-shadow: 0 0 0 2px transparent, 0 0 0 0 transparent; // Used to animate from when element is in :focus
}

// :focus styles
.control--custom-input:focus ~ .control-indicator {
	box-shadow: 0 0 0 2px $color-bg, 0 0 0 3px $input-borderColor--focus;
}

// Checkbox modifiers
.control-indicator--checkbox {
	border-radius: .2em;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 90%;
		height: $checkbox-indicator-width;
		background-color: $custom-input-selected;
		display: block;
		opacity: 0;
		transition: $default-transition;
	}

	&:before {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&:after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

.control-indicator--checkbox--tick {

	&:before {
		top: 0;
		transform: translateX(-50%) rotate(45deg);
		border: $checkbox-indicator-width solid $custom-input-selected;
		background-color: transparent;
		width: 40%;
		height: 80%;
		border-top: 0;
		border-left: 0;
	}

	&:after {
		display: none;
	}
}

.control--custom-input:checked ~ .control-indicator--checkbox {
	// Uncomment to make checkboxes circular when checked
	// border-radius: 50%;

	&:before,
	&:after {
		opacity: 1;
	}
}


// Radio modifiers
.control-indicator--radio {
	border-radius: 50%;
}

.control--custom-input:checked ~ .control-indicator--radio {
	background-color: $custom-input-selected;
	border: .3em solid $custom-input-border;
}


/**
 * Custom file input
 */
.form-input--fileWrapper--styled {
	position: relative;
	overflow: hidden;

	&:before {
		content: 'Choose file...';
	}

	&:after {
		content: 'Browse';
		cursor: pointer;
		display: inline-block;
		position: absolute;
		top: 0;
		right: -1px;
		bottom: 0;
		padding: .44em 1em 0;
		background-color: lighten($input-borderColor, 5%);
	}

	.form-input-file {
		opacity: 0;
		position: absolute;
	}
}


/**
 * Custom select element
 * http://jsbin.com/juvixufu/165/edit
 */
.form-input--selectWrapper {
	position: relative;
	display: block;
	padding: 0;
}

/* This is the native select, we're making everything the text invisible so we can see the button styles in the wrapper */
.form-input--selectWrapper select {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	margin: 0;
	background: none;
	border: 0;
	outline: none;
	/* Remove select styling */
	appearance: none;
	-webkit-appearance: none;
	/* Magic font size number to prevent iOS text zoom */
	// font-size:16px;
	padding: .5em;
	height: 2.3em;
	line-height: 1;
}

/* This hides native dropdown button arrow in IE 10/11+ so it will have the custom appearance, IE 9 and earlier get a native select */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.form-input--selectWrapper select::-ms-expand {
		display: none;
	}
}

/* Custom arrow sits on top of the select - could be an image, SVG, icon font, etc. or the arrow could just baked into the bg image on the select */
.form-input--selectWrapper:after {
	background: none;
	color: #bbb;
	content: "\25BC";
	font-size: .7em;
	padding: 0;
	position: absolute;
	right: 1.2em;
	top: 50%;
	margin-top: -9px;
	z-index: 2;

	/* These hacks make the select behind the arrow clickable in some browsers */
	pointer-events: none;
	background: url(#);
}

/* This selector targets Firefox only with the trick of making the select 110% but clipped by the container at 100% to hide the arrow. We have to do this because getting rid of select appearance isn't supported consistently */
.form-input--selectWrapper,
x:-moz-any-link,
x:default {
	overflow: hidden;
	width: 100%;
}

.form-input--selectWrapper select,
x:-moz-any-link,
x:default {
	width: 110%;
	max-width: 110%;
	min-width: 110%;
	/* A zero right padding is needed or the native arrow can show up. Downside is the text will run over the arrow */
	padding: .6em 0 .5em .8em;
	/* Window is a Firefox way of hiding the arrow, sometimes works */
	-moz-appearance: window;
	text-indent: .01px;
	text-overflow: "";
}

/* Focus style - TODO: Fix in FF */
// select:focus {
// 	outline:none;
// 	box-shadow: 0 0 1px 3px rgba(180,222,250, 1);
// 	background-color:transparent;
// 	color: #222;
// 	border:1px solid #aaa;
// }

/* Removes the odd blue bg color behind the text in IE 10/11 and sets the text to match the focus style text */
.form-input--selectWrapper:focus::-ms-value {
	background: transparent;
	color: #222;
}

/* Firefox focus has odd artifacts around the text, this kills that */
.form-input--selectWrapper:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

option {
	font-weight: normal;
}
