/**
 * Lists
 * - Centred lists
 * - Floated lists
 */

/**
 * Centred lists
 *
 * Usage:
	<ul class="l-list--centred">
		<li></li>
	</ul>
 */

.l-list--centred, .l-list--centered {
	text-align: center;

	li {
		display: inline;
	}
}


/**
 * Floated lists
 * Usage:
	<ul class="l-list--floated">
		<li></li>
	</ul>
 */

.l-list--floated {
	@include clearfix;

	li {
		float: left;
		display: inline-block;
	}
}
