/**
 * Preformatted code
 * Code typography styles for the <code> and <pre> elements
 */

// Inline and block code styles
code,
pre {
	padding: 0 3px 2px;
	font-family: $font-family-mono;
	@include font-size($type-small);
	color: $color-code;
	border-radius: 3px;
	tab-size: 3;
}

// Inline code
code {
	padding: 2px 4px;
	color: $color-code;
	background-color: $color-code-bg;
}

// Blocks of code
pre {
	display: block;
	padding: $baseline / 2;
	margin: 0 0 $baseline;
	// line-height: $leading-base;
	color: $color-pre;
	background-color: $color-pre-bg;
	border-radius: 4px;
	white-space: pre;
	// white-space: pre-wrap;
	// word-break: break-all;
	// word-wrap: break-word;

	// Account for some code outputs that place code tags in pre tags
	code {
		padding: 0;
		color: $color-pre;
		background-color: $color-pre-bg;
		border: 0;
	}
}

// Enable scrollable blocks of code
.pre--scrollable {
	max-height: 340px;
	overflow-y: scroll;
}
