/*
   Fluid width video
   * 16:9 aspect ratio by default
   * Usage:
   * <div class="fluidVideo"><iframe src="..."/></div>
   ========================================================================== */
.fluidVideo {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
